<html lang="en">
<head>
<%= render 'layouts/accordion' %>

<div class="container" style="padding-top: 20px; padding-bottom: 25px; align=center">
  <%= form_for :flatowner, url: flatowners_path, :class=>"form-horizontal", :role=>"form" do |f| %>

 <div class="col-md-2 col-sm-6 col-xs-12">

      
    </div>


  <div class="row">
    <!-- left column -->
   
    <!-- edit form column -->
    <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
      
       <div class="form-group">
          <label class="col-lg-3 control-label"></label>
          <div class="col-lg-8">
           <h3>Flat Details</h3>
          </div>
        </div>

       <div class="form-group">
          <label class="col-lg-3 control-label" style="text-align:left">Phase name:</label>
          <div class="col-lg-8" style=" padding-bottom: 18px">
            <%= f.text_field :phasename , autofocus: true, :class => "form-control" , :placeholder=>"Enter phase name"%>
          </div>
        </div>


        <div class="form-group">
          <label class="col-lg-3 control-label" style="text-align:left">SubPhase name:</label>
          <div class="col-lg-8" style=" padding-bottom: 18px">
            <%= f.text_field :subphase , autofocus: true, :class => "form-control" , :placeholder=>"Enter sub phase name"%>
          </div>
        </div>


        <div class="form-group">
          <label class="col-lg-3 control-label" style="text-align:left">Flat number:</label>
          <div class="col-lg-8" style=" padding-bottom: 18px">
             <%= f.number_field :flatno, autofocus: true, :class => "form-control" , :placeholder=>"Enter flat no"%>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 control-label" style="text-align:left">Flat type:</label>
          <div class="col-lg-8" style=" padding-bottom: 18px">
            <%= f.text_field :flattype , autofocus: true, :class => "form-control" , :placeholder=>"Enter sub flat type"%>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 control-label" style="text-align:left">Flat area:</label>
          <div class="col-lg-8" style=" padding-bottom: 18px">
             <%= f.number_field :flatarea, autofocus: true, :class => "form-control" , :placeholder=>"Enter flat area"%>
          </div>
        </div>

        <div class="form-group">
        
          <div class="col-md-8">
             <%= f.submit 'Register', :class=>"btn btn-primary"%>
          </div>
        </div>
        <% end %>
    </div>
  </div>
</div>