
<html>
  <body>
  <br><br><br><br>
   <div class="container">
    <div class="jumbotron">

        <table class="table">

            <p>
            <tr>
              <td><strong>Id:</strong></td>
              <td><%= @flatowner.id %></td>
            </tr>
            </p>

            
            <p><tr>
              <td><strong>Phasename:</strong></td>
             <td> <%= @flatowner.phasename %></td>
            </tr></p>

            <p><tr>
              <td><strong>Subphase:</strong></td>
              <td><%= @flatowner.subphase %></td>
           </tr> </p>

            <p><tr>
              <td><strong>Flatno:</strong></td>
              <td><%= @flatowner.flatno %></td>
           </tr> </p>

            <p><tr>
              <td><strong>Flattype:</strong></td>
              <td><%= @flatowner.flattype %></td>
           </tr> </p>

            <p><tr>
              <td><strong>Flatarea:</strong></td>
              <td><%= @flatowner.flatarea %></td>
            </tr></p>

          
           
      </table>
<%= link_to 'Edit', edit_flatowner_path(@flatowner) %> |
<%= link_to 'Back', flatowners_path %>

</div>
</div>
</body>
</html>