<!DOCTYPE html>
<html lang="en">
<head>
<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-folder-close">
                            </span>Content</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-pencil text-primary"></span><a href="http://www.jquery2dotnet.com">Articles</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-flash text-success"></span><a href="http://www.jquery2dotnet.com">News</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-file text-info"></span><a href="http://www.jquery2dotnet.com">Newsletters</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-comment text-success"></span><a href="http://www.jquery2dotnet.com">Comments</a>
                                        <span class="badge">42</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-th">
                            </span>Modules</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Orders</a> <span class="label label-success">$ 320</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Invoices</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Shipments</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Tex</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-user">
                            </span>Account</a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Change Password</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Notifications</a> <span class="label label-info">5</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Import/Export</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-trash text-danger"></span><a href="http://www.jquery2dotnet.com" class="text-danger">
                                            Delete Account</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-file">
                            </span>Reports</a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-usd"></span><a href="http://www.jquery2dotnet.com">Sales</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-user"></span><a href="http://www.jquery2dotnet.com">Customers</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-tasks"></span><a href="http://www.jquery2dotnet.com">Products</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-shopping-cart"></span><a href="http://www.jquery2dotnet.com">Shopping Cart</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <!-- Tuser list div starts here -->

    <meta charset="utf-8">
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    <title>Table with users - Bootsnipp.com</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <style type="text/css">
        
    </style>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script type="text/javascript">
// <![CDATA[
function display(obj,id1,id2,id3,id4) {
txt = obj.options[obj.selectedIndex].value;
document.getElementById(id1).style.display = 'none';
document.getElementById(id2).style.display = 'none';
document.getElementById(id3).style.display = 'none';
document.getElementById(id4).style.display = 'none';

if ( txt.match(id1) ) {
document.getElementById(id1).style.display = 'block';
}
if ( txt.match(id2) ) {
document.getElementById(id2).style.display = 'block';
}
if ( txt.match(id3) ) {
document.getElementById(id3).style.display = 'block';
}
if ( txt.match(id4) ) {
document.getElementById(id4).style.display = 'block';
}

}
// ]]>
</script>
</head>
<body>
<div class="container" style="padding-top: 60px;">
  
  <div class="row">
    <!-- left column -->
    
    <!-- edit form column -->
    <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
      <div class="alert alert-info alert-dismissable">
        <a class="panel-close close" data-dismiss="alert">×</a> 
        <i class="fa fa-coffee"></i>
        This is an <strong>.alert</strong>. Use this to show important messages to the user.
      </div>
      <h3>Expense details</h3>
      <%= form_for(@acc_payment) do |f| %>
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="col-lg-3 control-label">Expense type:</label>
          <div class="col-lg-8">
          <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Select
        <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Type1</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Type2</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Type3</a></li>
          <li role="presentation" class="divider"></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Type4</a></li>
        </ul>
      </div>
      </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Bank Account:</label>
          <div class="col-lg-8">
            <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="menu2" data-toggle="dropdown">Select
        <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="menu2">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">render1</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">render2</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">render3</a></li>
          <li role="presentation" class="divider"></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">render4</a></li>
        </ul>
      </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Vendor:</label>
          <div class="col-lg-8">
            <input class="form-control" value="" type="text">
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 control-label">TDS:</label>
          <div class="col-lg-8">
            <input class="form-control" value="" type="text">
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 control-label">Description:</label>
          <div class="col-lg-8">
            <%= f.text_area :exbill_desc %>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 control-label">Amount:</label>
          <div class="col-lg-8">
            <%= f.text_field :exbill_amount %>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 control-label">Date:</label>
          <div class="col-lg-8">
            <%= f.date_select :exbill_date %>
          </div>
        </div>
        
        
        
    




<table width=70% cellspacing="0" cellpadding="2">
<thead>
<tr>
<td class="col-lg-3 control-label">Payment Option:</td>
<div class="col-lg-8">
<td>
<%= f.select :paymode, options_for_select(@acc_payment_type),{:prompt=> "Select Payment type"},{:class =>"form-control", :onchange=>"display(this,'Transfer','Cheque','Draft','Cash');"}%>

</td>
</div>
</tr>
</thead>

<tfoot>
<tr>
<td class="align-center" colspan="2"><%= f.submit :value=>"submit" %> <input type="reset" value="Reset" /></td>
</tr>
</tfoot>

<tbody id="Transfer" style="display: none;">
<tr>
<td class="col-lg-3 control-label">Description:</td>
<td><%= f.text_area :ot_desc %></td>
</tr>

<tr>
<td class="col-lg-3 control-label">Bank Name:</td>
<td><%= f.text_field :otbnk_name %></td>
</tr>

<tr>
<td class="col-lg-3 control-label">Transaction no.:</td>
<td><%= f.text_field :trn_no %></td>
</tr>

<tr>
<td class="col-lg-3 control-label">Date:</td>
<td><%= f.date_select :ot_date %></td>
</tr>

</tbody>

<tbody id="Cheque" style="display: none;">
<tr>
<td class="col-lg-3 control-label">Description:</td>
<td class="field"><%= f.text_area :chq_desc %></td>
</tr>
<tr>
<td class="col-lg-3 control-label">Cheque number:</td>
<td class="field"><%= f.text_field :chq_no %></td>
</tr>
<tr>
<td class="col-lg-3 control-label">Bank name:</td>
<td class="field"><%= f.text_field :bnk_name %></td>
</tr>
<tr>
<td class="col-lg-3 control-label">Branch name:</td>
<td class="field"><%= f.text_field :bnk_branch %></td>
</tr>
<tr>
<td class="col-lg-3 control-label">Date:</td>
<td class="field"><%= f.date_select :chq_date %></td>
</tr>
</tbody>
<tbody id="Draft" style="display: none;">
<tr>
<td class="col-lg-3 control-label">Description:</td>
<td class="field"><%= f.text_area :drft_desc %></td>
</tr>
<tr>
<td class="col-lg-3 control-label">Draft number:</td>
<td class="field"><%= f.text_field :drft_no %></td>
</tr>
<tr>
<td class="col-lg-3 control-label">Bank name:</td>
<td class="field"><%= f.text_field :dbnk_name %></td>
</tr>
<tr>
<td class="col-lg-3 control-label">Branch name:</td>
<td class="field"><%= f.text_field :dbnk_branch %></td>
</tr>
<tr>
<td class="col-lg-3 control-label">Date:</td>
<td class="field"><%= f.date_select :drft_date %></td>
</tr>
</tbody>
<tbody id="Cash" style="display: none;">
<tr>
<td class="col-lg-3 control-label">Description:</td>
<td class="field"><%= f.text_area :cash_desc %></td>
</tr>
<tr>
<td class="col-lg-3 control-label">Date:</td>
<td class="field"><%= f.date_select :paym_date %></td>
</tr>

</tbody>


</table>


  </form>
  <% end %>
    </div>
  </div>
</div>

 <!-- userlist div ends here -->
    </div>
</div>



      
<script type="text/javascript">

</script>
</body>
</html>