<html lang="en">
<head>

<br><br>
<%= render 'layouts/accordion' %>

</head>

  <body>
   <div class="container" style="padding-top: 60px; align=center">
    <%= form_for :meeting, url:meetings_path , :class=>"form-horizontal" ,:role=>"form" do |f| %>
  <h1 class="page-header"><center>Meeting </center></h1>
  <div class="row">
    
    <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
      <div class="form-group">
          <label class="col-lg-3 control-label">Meeting Phase:</label>
          <div class="col-lg-8"style="padding-bottom:18px">
            <%= f.text_field :phase,:class => "form-control" , :placeholder=>"Enter Phase Name"%>
          </div>
        </div>
        
        <div class="form-group">
          <label class="col-lg-3 control-label">Point to be discuss:</label>
          <div class="col-lg-8"style="padding-bottom:18px">
              <%= f.text_field :pointsdiscussed, :class=>"form-control" %>
           </div>
        </div>

         <div class="form-group">
          <label class="col-lg-3 control-label">venue:</label>
          <div class="col-lg-8 "style="padding-bottom:18px">
             <%= f.text_field :venue, autofocus: true, :class => "form-control" , :placeholder=>"Enter Venue"%>          
             </div>
        </div>
        
        <div class="form-group">
          <label class="col-md-3 control-label",style="text-align:left">conclusion:</label>
          <div class="col-md-8"style="padding-bottom:18px">
                    <%= f.text_area :conclusion, :class=>"form-control" %>         
          </div>
        </div>

       <div class="form-group">
          <label class="col-lg-3 control-label">Meeting Date and Time:</label>
          <div class="col-lg-8"style="padding-bottom:18px">
           <%= f.datetime_select :dateandtime %>
          </div>
        </div>

       <div class="form-group">
          <div class="col-md-8">  
          <%= f.submit 'Add Meeting', :class=>"btn btn-primary"%>
      </div>
       </div>
      <% end %>
    </div>
  </div>
</div>
</body>
</html>


