<html lang="en">
<head>

<br><br>
<%= render 'layouts/accordion' %>

</head>


<p id="notice"><%= notice %></p>

<p>
  <strong>Phase:</strong>
  <%= @meeting.phase %>
</p>

<p>
  <strong>Pointsdiscussed:</strong>
  <%= @meeting.pointsdiscussed %>
</p>

<p>
  <strong>Dateandtime:</strong>
  <%= @meeting.dateandtime %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @meeting.venue %>
</p>

<p>
  <strong>Conclusion:</strong>
  <%= @meeting.conclusion %>
</p>

<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>
