<html lang="en">
<head>
<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-folder-close">
                            </span>Content</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-pencil text-primary"></span><a href="http://www.jquery2dotnet.com">Articles</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-flash text-success"></span><a href="http://www.jquery2dotnet.com">News</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-file text-info"></span><a href="http://www.jquery2dotnet.com">Newsletters</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-comment text-success"></span><a href="http://www.jquery2dotnet.com">Comments</a>
                                        <span class="badge">42</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-th">
                            </span>Modules</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Orders</a> <span class="label label-success">$ 320</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Invoices</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Shipments</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Tex</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-user">
                            </span>Account</a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Change Password</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Notifications</a> <span class="label label-info">5</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Import/Export</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-trash text-danger"></span><a href="http://www.jquery2dotnet.com" class="text-danger">
                                            Delete Account</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-file">
                            </span>Reports</a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-usd"></span><a href="http://www.jquery2dotnet.com">Sales</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-user"></span><a href="http://www.jquery2dotnet.com">Customers</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-tasks"></span><a href="http://www.jquery2dotnet.com">Products</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-shopping-cart"></span><a href="http://www.jquery2dotnet.com">Shopping Cart</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<div class="row">
    <!-- left column -->

    <!-- edit form column -->
    <div class="col-md-8 col-sm-2 col-xs-10 personal-info">
        <%= form_for (@polling) ,html: {multipart:true} do |f| %>

     <form class="form-horizontal" role="form">
        <h1>Polling</h1>


        <div class="form-group">
          <label class="col-lg-3 control-label">Image:</label>
          <div class="col-lg-8" style=" padding-bottom: 18px" style=" padding-bottom: 18px">        
           <%= f.file_field :image, autofocus: true, :class => "form-control" %>
        </div>
        </div>

      
  
        <div class="form-group">
         <label class="col-lg-3 control-label"> Name:</label>
          <div class="col-lg-8" style=" padding-bottom: 18px">        
             <%= f.text_field :name, :class=>"form-control"%>
           </div>
        </div>

         <div class="form-group">
            <label class="col-lg-3 control-label">age:</label>
             <div class="col-lg-8" style=" padding-bottom: 18px">
                <%= f.number_field :age, :class=>"form-control" %>
             </div>
         </div>

       

        <div class="form-group">
            <label class="col-lg-3 control-label">Email Id:</label>
          <div class="col-lg-8" style=" padding-bottom: 18px">
             <%= f.text_field :email_id, :class=>"form-control" %>
          </div>
        </div>


        <div class="form-group">
          <label class="col-lg-3 control-label">Wing:</label>
           <div class="col-lg-8" style=" padding-bottom: 18px">
              <%= f.text_field :wing, :class=>"form-control" %>
           </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 control-label">Flat No:</label>
           <div class="col-lg-8" style=" padding-bottom: 18px">
             <%= f.number_field :flatno, :class=>"form-control" %>
           </div>
        </div>

         <div class="form-group">
          <label class="col-lg-3 control-label">Position Type:</label>
          <div class="col-md-5" style=" padding-bottom: 18px">
                <%= f.select(:positiontype, options_for_select([['Chair person', 'Chair person'], ['Secretary', 'Secretary'], ['Type3', 'Type3'], ['Type4', 'Type4']])) %>
            </div>
        </div>
      
          
        <div class="form-group">
          <label class="col-md-3 control-label"></label>
           <div class="col-lg-8" style=" padding-bottom: 18px">
             <span></span>
              <%= f.submit 'Submit',:class=>"btn btn-primary" %>
           </div>
       </div>

  
  </form>
  <% end %>

</div>
  </div>
