
<div class="container" style="width:1666px" >
  <div class="content">

    <div class="row">

    <div class="horizontal">

      <%= link_to 'New polling', new_polling_path %>
        <% @pollings.each do |polling| %>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-7 col-md-8">


                                <div class="comment-text">
                                  <td><h3 align="center"><%= image_tag polling.image %></h3></td>
                                </div>
                               
                                <div class="comment-text">
                                  <td><h3 align="center"><%= polling.name %></h3></td>
                                </div>

                                <div class="comment-text">
                                  <td><h3 align="center"><%= polling.age %></h3></td>
                                </div>

                                <div class="comment-text">
                                 <td><h3 align="center"><%= polling.positiontype %></h3></td>
                                </div>

                                <div class="comment-text">
                                    <td><h5 align="center"><%= polling.email_id %></h5></td>
                                </div>
                                        

                                <div class="comment-text">
                                  <td><h3 align="center"><%= polling.wing %></h3></td>
                                </div>

                                <div class="comment-text">
                                  <td><h3 align="center"><%= polling.flatno %></h3></td>
                                </div> 

                            </div>

                        </div>

                  <div class="caption" style="text-align:center;">
                  <%= link_to like_polling_path(polling), class: "like",method: :put do %>
                      <button type="button" class="btn btn_info" aria-lable="Left Align">

</li>
                        <div class="caption" style="text-align:center;">
                       <%= link_to like_polling_path(polling), class: "like",method: :put do %>
                        <button type="button" class="btn btn_info" aria-lable="Left Align">
                        <span class="glyphicon-thumbs-up glyphicon-align-center" aria-hidden="true"></span>
                        <span class="badge"><%= polling.get_upvotes.size %></span>
                      </button>
                  <% end %>

                  <%= link_to unlike_polling_path(polling), class: "like",method: :put do %>
                      <button type="button" class="btn btn_info" aria-lable="Left Align">
                        <span class="glyphicon-thumbs-down glyphicon-align-center" aria-hidden="true"></span>
                        <span class="badge"><%= polling.get_downvotes.size %></span>
                      </button>
                  <% end %>
                  </div>     
                           
                    </li>
                </ul>
            </div>    
        <% end %>
                   
        </div>
       </div>
    </div>
  
 
