<%= render 'layouts/accordion' %>
<div class="row">
    <!-- left column -->

    <!-- edit form column -->
    <div class="col-md-8 col-sm-2 col-xs-10 personal-info">
        <%= form_for (@polling) ,html: {multipart:true} do |f| %>

     <form class="form-horizontal" role="form">
        <h1>Polling</h1>


        <div class="form-group">
          <label class="col-lg-3 control-label">Image:</label>
          <div class="col-lg-8" style=" padding-bottom: 18px" style=" padding-bottom: 18px">        
           <%= f.file_field :image, autofocus: true, :class => "form-control" %>
          </div>
        </div>

      
  
        <div class="form-group">
         <label class="col-lg-3 control-label"> Name:</label>
          <div class="col-lg-8" style=" padding-bottom: 18px">        
             <%= f.text_field :name, :class=>"form-control"%>
           </div>
        </div>

         <div class="form-group">
            <label class="col-lg-3 control-label">age:</label>
             <div class="col-lg-8" style=" padding-bottom: 18px">
                <%= f.number_field :age, :class=>"form-control" %>
             </div>
         </div>

       

        <div class="form-group">
            <label class="col-lg-3 control-label">Email Id:</label>
          <div class="col-lg-8" style=" padding-bottom: 18px">
             <%= f.text_field :email_id, :class=>"form-control" %>
          </div>
        </div>


        <div class="form-group">
          <label class="col-lg-3 control-label">Wing:</label>
           <div class="col-lg-8" style=" padding-bottom: 18px">
              <%= f.text_field :wing, :class=>"form-control" %>
           </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 control-label">Flat No:</label>
           <div class="col-lg-8" style=" padding-bottom: 18px">
             <%= f.number_field :flatno, :class=>"form-control" %>
           </div>
        </div>

         <div class="form-group">
          <label class="col-lg-3 control-label">Position Type:</label>
          <div class="col-md-5" style=" padding-bottom: 18px">
                <%= f.select(:positiontype, options_for_select([['Chair person', 'Chair person'], ['Secretary', 'Secretary'], ['Type3', 'Type3'], ['Type4', 'Type4']])) %>
            </div>
        </div>
      
          
        <div class="form-group">
           <div class="col-lg-8" style=" padding-bottom: 18px">
             <span></span>
              <%= f.submit 'Submit',:class=>"btn btn-primary" %>
           </div>
       </div>

  
  </form>
  <% end %>

    </div>
  </div>
