
<div class="col-sm-9 col-md-9"><!-- Tuser list div starts here -->

    <meta charset="utf-8">
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    <title>Table with users - Bootsnipp.com</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <style type="text/css">
        
    </style>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>

<body>

      <h2>Polling</h2>
      
     

    <p><tr>
      <td><%= image_tag @polling.image.url(:medium) %></td>
    </tr></p>

<p>
  <strong>Name:</strong>
  <%= @polling.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @polling.age %>
</p>

<p>
  <strong>PositionType:</strong>
  <%= @polling.positiontype %>
</p>



<p>
  <strong>Email:</strong>
  <%= @polling.email_id %>
</p>

<p>
  <strong>Wing:</strong>
  <%= @polling.wing %>
</p>

<p>
  <strong>Flatno:</strong>
  <%= @polling.flatno %>
</p>


<%= link_to 'Edit', edit_polling_path(@polling) %> |
<%= link_to 'Back', pollings_path %>
</div>


      
<script type="text/javascript">

</script>
</body>
