<html lang="en">
<head>
<%= render 'layouts/accordion' %>



 <div class="container" style="padding-top: 20px; padding-bottom: 25px; align=center">
   <%= form_for :parktenant, url: parktenant_path(@parktenant), :class=>"form-horizontal", :role=>"form", method: :patch do |f| %>

  

  <h1 class="col-md-8 col-sm-6 col-xs-8">Parking Registration</h1>
  <div class="row">
    <!-- left column -->
  
    <!-- edit form column -->
    <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
     
        
        <div class="form-group">
          <label class="col-lg-3 control-label"></label>
          <div class="col-lg-8">
           <h3>Parking Information</h3>
          </div>
        </div>
  
      <div class="form-group">
          <label class="col-lg-3 control-label"  style="text-align:left">Owner Id</label>
          <div class="col-lg-8" style=" padding-bottom: 18px">
             <%= f.number_field :ownerid, autofocus: true, :class => "form-control" , :placeholder=>"Enter Owner Id"%>
          </div>
        </div>


        <div class="form-group">
          <label class="col-lg-3 control-label" style="text-align:left">Number of two wheeler:</label>
          <div class="col-lg-8" style=" padding-bottom: 18px">
             <%= f.number_field :nooftwowheeler, autofocus: true, :class => "form-control" , :placeholder=>"Enter number of two wheeler"%>
          </div>
        </div>

         <div class="form-group">
          <label class="col-lg-3 control-label" style="text-align:left">Number of four wheeler:</label>
          <div class="col-lg-8" style=" padding-bottom: 18px">
            <%= f.number_field :nooffourwheeler, autofocus: true, :class => "form-control" , :placeholder=>"Enter number of four wheeler"%>
          </div>
        </div>
        
   

        <div class="form-group">
          <div class="col-md-8">
             <%= f.submit 'Update', :class=>"btn btn-primary"%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>