
<html>
  <body>
  <br><br><br><br>
   <div class="container">
    <div class="jumbotron">


        <table class="table">

            <p>
            <tr>
              <td><strong>Owner Id:</strong></td>
              <td><%= @parktenant.ownerid %></td>
            </tr>
            </p>

          <p><tr>
              <td><strong>Number of two wheeler:</strong></td>
              <td><%= @parktenant.nooftwowheeler %></td>
           </tr></p>
           
           <p><tr>
              <td><strong>Number of four wheeler:</strong></td>
              <td><%= @parktenant.nooffourwheeler %></td>
           </tr></p>
        
      </table>
<%= link_to 'Edit', edit_parktenant_path(@parktenant) %> |
<%= link_to 'Back', parktenants_path %>

</div>
</div>
</body>
</html>