

<html lang="en">
<head>
<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-folder-close">
                            </span>Content</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-pencil text-primary"></span><a href="http://www.jquery2dotnet.com">Articles</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-flash text-success"></span><a href="http://www.jquery2dotnet.com">News</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-file text-info"></span><a href="http://www.jquery2dotnet.com">Newsletters</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-comment text-success"></span><a href="http://www.jquery2dotnet.com">Comments</a>
                                        <span class="badge">42</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-th">
                            </span>Modules</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Orders</a> <span class="label label-success">$ 320</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Invoices</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Shipments</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Tex</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-user">
                            </span>Account</a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Change Password</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Notifications</a> <span class="label label-info">5</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Import/Export</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-trash text-danger"></span><a href="http://www.jquery2dotnet.com" class="text-danger">
                                            Delete Account</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-file">
                            </span>Reports</a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-usd"></span><a href="http://www.jquery2dotnet.com">Sales</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-user"></span><a href="http://www.jquery2dotnet.com">Customers</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-tasks"></span><a href="http://www.jquery2dotnet.com">Products</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-shopping-cart"></span><a href="http://www.jquery2dotnet.com">Shopping Cart</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


  <div class="row">
    <!-- left column -->

    <!-- edit form column -->
    <div class="col-md-8 col-sm-2 col-xs-10 personal-info">
     
      <h3> Edit Personal info</h3>
     <%= form_for (@memachivement) ,html: {multipart:true} do |f| %>

                        <% if @memachivement.errors.any? %>
                            <div id="error_explanation">
                                <h2>
                                    <%= pluralize(@memachivement.errors.count, "error")%>
                                    prohibited this memachivement from being saved:  
                                </h2>
                                <p>There were problems with the following fields:</p>
                                <ul>
                                <%= @memachivement.errors.full_messages.each do |message| %>
                                    
                                <% end %>
                                </ul>   
                             </div>
                        <% end %>

      <form class="form-horizontal" role="form">
        
         <div class="form-group">
          <label class="col-lg-3 control-label">Image:</label>
          <div class="col-lg-8" style=" padding-bottom: 18px" style=" padding-bottom: 18px">        
           <%= f.file_field :image, autofocus: true, :class => "form-control" %>
        </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 control-label">Full name:</label>
          <div class="col-lg-8">        
            <%= f.text_field :FullName, autofocus: true, :class => "form-control" , :placeholder=>"FullName"%>
        </div>
        </div>
      

        <div class="form-group">
          <label class="col-lg-3 control-label">Phase:</label>
          <div class="col-lg-8">
            <%= f.text_field :Phase, autofocus: true, :class => "form-control" , :placeholder=>"Phase"%>
             </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 control-label">Flat No:</label>
          <div class="col-lg-8">
      
            <%= f.text_field :FlatNo, autofocus: true, :class => "form-control" , :placeholder=>"FlatNo"%>
             </div>
        </div>


        <div class="form-group">
          <label class="col-lg-3 control-label">Achivement:</label>
          <div class="col-lg-8">
<!--             <input class="form-control" value="" type="text">
 -->         
            <%= f.text_field :Achivement, autofocus: true, :class => "form-control" , :placeholder=>"Achivement"%> </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Description:</label>
          <div class="col-lg-8">
<!--  <textarea class="form-control" value="janesemail@gmail.com" type="text"></textarea>
 -->         
     <%= f.text_area :Description, autofocus: true, :class => "form-control" , :placeholder=>"Description"%>
     </div>
         <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <%= f.submit :value=>"Upload" %>
            <span></span>
          
          </div>
        </div>
         
      </form>
      <% end %>

    </div>
  </div>
</div>
 </div>
</div>

