<!DOCTYPE html>
<html lang="en">
<head>
<%= render 'layouts/accordion' %>
         <div class="col-sm-9 col-md-9"><!-- user list div starts here -->

    <meta charset="utf-8">
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    <title>Table with users - Bootsnipp.com</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <style type="text/css">
        
    </style>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
</head>
<body>


                <p id="notice"><%= notice %></p>

<h1>Listing Memachivements</h1>

<table class="table">
  <thead>
    <tr>
      <th>Fullname</th>
      <th>Flatno</th>
      <th>Phase</th>
      <th>Achivement</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @memachivements.each do |memachivement| %>
      <tr>
        <td><%= memachivement.FullName %></td>
        <td><%= memachivement.FlatNo %></td>
        <td><%= memachivement.Phase %></td>
        <td><%= memachivement.Achivement %></td>
        <td><%= memachivement.Description %></td>
        <td><%= link_to 'Show', memachivement %></td>
        <td><%= link_to 'Edit', edit_memachivement_path(memachivement) %></td>
        <td><%= link_to 'Destroy', memachivement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="pagination">
    <ul>
        <li><a href="#">Prev</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">Next</a></li>
    </ul>
</div>
<br>
<%= link_to 'New Memachivement', new_memachivement_path %>




</div> <!-- userlist div ends here -->
    </div>
</div>



      
<script type="text/javascript">

</script>
</body>
</html>