<div class="main clearfix">
                <nav id="menu" class="nav">                 
                    <ul>
                        <li>
                            <a href="/acc_payments/new">
                                <span class="icon">
                                    <i aria-hidden="true" class="icon-contact"></i>
                                </span>
                                <span>Expense_type</span>
                            </a>
                        </li>


                         <li>
                            <a href="/bankaccounts">
                                <span class="icon">
                                    <i aria-hidden="true" class="icon-contact"></i>
                                </span>
                                <span>Bank-Accounts</span>
                            </a>
                        </li>


                         <li>
                            <a href="/comman_bills">
                                <span class="icon">
                                    <i aria-hidden="true" class="icon-contact"></i>
                                </span>
                                <span>Common Bills</span>
                            </a>
                        </li>


                         <li>
                            <a href="/discountdetails">
                                <span class="icon">
                                    <i aria-hidden="true" class="icon-contact"></i>
                                </span>
                                <span>Discount Details</span>
                            </a>
                        </li>


                         <li>
                            <a href="/maintenance_charges">
                                <span class="icon">
                                    <i aria-hidden="true" class="icon-contact"></i>
                                </span>
                                <span>Maintainance Charge</span>
                            </a>
                        </li>


                         <li>
                            <a href="/nr_incomes">
                                <span class="icon">
                                    <i aria-hidden="true" class="icon-contact"></i>
                                </span>
                                <span>Non Regular Income</span>
                            </a>
                        </li>
                    

</ul>
</nav>

                        <div class="main clearfix">
                <nav id="menu" class="nav">  


                         <li>
                            <a href="/penalty_charges">
                                <span class="icon">
                                    <i aria-hidden="true" class="icon-contact"></i>
                                </span>
                                <span>Penalty Charges</span>
                            </a>
                        </li>


                        <li>
                            <a href="/maintainnance_invoices">
                                <span class="icon">
                                    <i aria-hidden="true" class="icon-contact"></i>
                                </span>
                                <span>Maintainance Invoices</span>
                            </a>
                        </li>
