<!DOCTYPE html>
<head>
<style>
.responsive {
float: left;
margin: 5px;
padding: 15px;
width: 120px;
height: 170px;
border: 1px solid black;


}
</style>
</head>

<div class="wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top ">
    



<div class="pull-right">
                <%if signed_in?%>
                    <li><%=link_to current_user.email, edit_user_registration_path%></li>
                    <li><%=link_to "Logout", destroy_user_session_path, method: :delete%></li>
                <%else%>
                    <li><%=link_to "Register", new_user_registration_path%></li>
                    <li><%=link_to "Login", new_user_session_path,:class=>"btn-btn"%></li>
                <%end%>
                 </div>       
        
      </nav>
      </div>
   
   <body>
   
    <div> <h3>DASH BOARD</h3>
<div class="responsive"><a href="../pages/home"> <img src="../assets/Admission.png" ><br/>Home</a></div>
<div class="responsive"><a href="/acc_payments/new" > <img src="../assets/expenses.png"><br/>Expenses</a></div>
<div class="responsive" ><a href="/bankaccounts"> <img src="../assets/bankacc.png"><br/>Bank Account</a></div>
<div class="responsive"><a href="/comman_bills"> <img src="../assets/cmbills.png"><br/>Common Bills</a></div>

<div class="responsive"><a href="/discountdetails"> <img src="../assets/discount.png"><br/>Discount Details</a></div>
<div class="responsive"><a href="/maintenance_charges"> <img src="../assets/maintenance.png"><br/>Maintenance Charges</a></div>
<div class="responsive"><a href="/nr_incomes"> <img src="../assets/income_icon.png"><br/>Non Regular Incomes</a></div>
<div class="responsive"><a href="/penalty_charges"> <img src="../assets/penalty.png"><br/>Penalty Charges</a></div>
<div class="responsive"><a href="/maintainnance_invoices"> <img src="../assets/miinvo.png"><br/>Maintenance Invoices</a></div>

</div>

