<!DOCTYPE html>
<head>
<style>
.responsive {
float: left;
margin: 5px;
padding: 15px;
width: 120px;
height: 170px;
border: 1px solid black;
}
</style>
</head>

<%= render 'layouts/navigation' %>

   
    <body>
   
    <div > <h3>DASH BOARD</h3>
    <div class="responsive">
<a href="/"> <img src="../assets/Admission.png"><br/>Home</a></div>


<div class="responsive">
<a href="#" > <img src="../assets/Student-Details.png"><br/>Society Rules and Procedures</a></div>


<div class="responsive">
<a href="/meetings"> <img src="../assets/Manage-Users.png"><br/>Meetings</a></div>


<div class="responsive">
<a href="/noticeboards"> <img src="../assets/notice-board.png"><br/>Noticeboard</a></div>



<div class="responsive">
<a href="/complaints"> <img src="../assets/Com_Box.png"><br/>Complaint Box</a></div>


<div class="responsive">
<a href="/eventmanagements"> <img src="../assets/Timetable.png"><br/>Event Calander</a></div>


<div class="responsive">
<a href="/pollings"> <img src="../assets/election.png"><br/>Polling</a></div>


<div class="responsive">
<a href="#"> <img src="../assets/broadcast.png"><br/>Email Broadcast</a></div>


<div class="responsive">
<a href="/comitteemembers"> <img src="../assets/Organisation_Icon.png"><br/>Committee Members</a></div>


<div class="responsive">
<a href="/vendors"> <img src="../assets/Vendor.png"><br/>Vendors</a></div>


<div class="responsive">
<a href="/attenvendors"> <img src="../assets/Attendance.png"><br/>Attendance Tracker</a></div>


<div class="responsive">
<a href="accountingindex.html"> <img src="../assets/accounting.png"><br/>Accounting</a></div>
</div>
