<div class="row">
  <div class="col-md-12 text-center">
    <div class="well controls">
<h1>Listing Event</h1>

<h2 id="month"> 
<%= link_to "<", date: @date.prev_month %>

<%= @date.strftime("%B %Y")%>
<%= link_to ">", date: @date.next_month %></h2>

<%= calendar @date do |date|%>
  <%= date.day %>
    <% if @eventmanagements_by_date[date] %>
      <ul>
          <% @eventmanagements_by_date[date].each do |eventmanagement|%>
          <li><%= link_to eventmanagement.EventName,eventmanagement %></li>
          <%end%>
      </ul>
  <% end %>
   <% end %>

  <%= link_to 'New eventmanagement', new_eventmanagement_path %>
   </div>
</div>
</div>

