<html lang="en">
<head>
<%= render 'layouts/accordion' %>
<%= render 'layouts/navigation' %>

 <div class="container" style="padding-top: 20px; padding-bottom: 25px; align=center">
  <%= form_for :complaint, url: complaints_path, :class=>"form-horizontal", :role=>"form" do |f| %>


   <h1 class="col-md-8 col-sm-6 col-xs-8"><center>Post Complaint</center></h1>
  <div class="row">
    
    <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
     
        


        <div class="form-group">
          <label class="col-lg-3 control-label" style="text-align:left">Subject:</label>
          <div class="col-lg-8" style=" padding-bottom: 18px">
          <%= f.text_field :subject, autofocus: true, :class => "form-control" , :placeholder=>"Enter subject"%>
          </div>
        </div>
        

        <div class="form-group">
          <label class="col-lg-3 control-label" style="text-align:left">Message:</label>
          <div class="col-lg-8" style=" padding-bottom: 18px">
            <%= f.text_area :message, :class=>"form-control" %>
          </div>
        </div>


        <div class="form-group">
          <div class="col-md-8">
             <%= f.submit 'Post Complaint', :class=>"btn btn-primary"%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>