<html>
  <body>
  <br><br><br><br>
   <div class="container">
    <div class="jumbotron">

        <table class="table">

            <p>
            <tr>
              <td><strong>Subject:</strong></td>
              <td><%= @complaint.subject %></td>
            </tr>
            </p>

             <p><tr>
              <td><strong>Message:</strong></td>
              <td><%= @complaint.message %></td>
           </tr></p>

        </table> 
<%= link_to 'Back', complaints_path %>

</div>
</div>
</body>
</html>