

<!DOCTYPE html>
<html lang="en">
<head>
<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-folder-close">
                            </span>Content</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-pencil text-primary"></span><a href="http://www.jquery2dotnet.com">Articles</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-flash text-success"></span><a href="http://www.jquery2dotnet.com">News</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-file text-info"></span><a href="http://www.jquery2dotnet.com">Newsletters</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-comment text-success"></span><a href="http://www.jquery2dotnet.com">Comments</a>
                                        <span class="badge">42</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-th">
                            </span>Modules</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Orders</a> <span class="label label-success">$ 320</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Invoices</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Shipments</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Tex</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-user">
                            </span>Account</a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Change Password</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Notifications</a> <span class="label label-info">5</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Import/Export</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-trash text-danger"></span><a href="http://www.jquery2dotnet.com" class="text-danger">
                                            Delete Account</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-file">
                            </span>Reports</a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-usd"></span><a href="http://www.jquery2dotnet.com">Sales</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-user"></span><a href="http://www.jquery2dotnet.com">Customers</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-tasks"></span><a href="http://www.jquery2dotnet.com">Products</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-shopping-cart"></span><a href="http://www.jquery2dotnet.com">Shopping Cart</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      <!-- Tuser list div starts here -->
                    <div class="container" style="padding-top: 60px;">
  <h1>Add Bank Account</h1>
  <div class="row">
    <!-- left column -->
   
    <!-- edit form column -->
    <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
      
      <%= form_for(@bankaccount) do |f| %>
            
      <form class="form-horizontal" role="form">
        

                    
             <% if @bankaccount.errors.any? %>
                    <div id="error_explanation">
                      <h2>
                        <%= pluralize(@bankaccount.errors.count, "error") %> prohibited
                        this article from being saved:
                      </h2>
                      <ul>
                        <% @bankaccount.errors.full_messages.each do |msg| %>
                          <li><%= msg %></li>
                        <% end %>
                      </ul>
                    </div>
            <% end %>  


        <div class="form-group">
          <label class="col-lg-3 control-label">Account Number:</label>
          <div class="col-lg-8">
            <!-- <input class="form-control" value="Jane" type="text"> -->
            <%= f.number_field :acc_no, autofocus: true, :class => "form-control" , :placeholder=>"Enter account Number"%>
          </div>
        </div>


        <div class="form-group">
          <label class="col-lg-3 control-label">Account Name:</label>
          <div class="col-lg-8">
<!--             <input class="form-control" value="Bishop" type="text">
 -->            <%= f.text_field :acc_name, autofocus: true, :class => "form-control" , :placeholder=>"Enter account Name"%>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Bank Name:</label>
          <div class="col-lg-8">
<!--             <input class="form-control" value="" type="text">
 -->                          <%= f.text_field :bank_name, autofocus: true, :class => "form-control" , :placeholder=>"Enter Bank Name"%>

          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Branch Name:</label>
          <div class="col-lg-8">
<!--             <input class="form-control" value="janesemail@gmail.com" type="text">
 -->                          <%= f.text_field :bank_branch, autofocus: true, :class => "form-control" , :placeholder=>"Enter Bank Branch"%> 

          </div>
        </div>

         <div class="form-group">
          <label class="col-lg-3 control-label">Bank Address</label>
          <div class="col-lg-8">
<!--             <input class="form-control" value="Enter Bank Address" type="text">
 -->                         <%= f.text_area :bank_add, autofocus: true, :class => "form-control" , :placeholder=>"Enter Bank Address"%>

          </div>
        </div>

         <div class="form-group">
          <label class="col-lg-3 control-label">Bank Balance:</label>
          <div class="col-lg-8">
<!--             <input class="form-control" value="janesemail@gmail.com" type="text">
 -->            <%= f.text_field :bank_balance, autofocus: true, :class => "form-control" , :placeholder=>"Enter bank Balance"%> 

          </div>
        </div>

        <!-- <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <input class="btn btn-primary" value="Save Changes" type="button">
            <span></span>
            <input class="btn btn-default" value="Cancel" type="reset">
          </div>
        </div> -->
         <div class="actions">
           <%= f.submit 'Create Bank Account', class: 'btn' %>
           <%= link_to 'Back', bankaccounts_path, class: 'btn' %>

        </div>




      </form>
      <% end %>
    </div>
  </div>
</div>

 <!-- userlist div ends here -->
    </div>
</div>



      
<script type="text/javascript">

</script>
</body>
</html>

