
<html>
  <body>
  <br><br><br><br>
   <div class="container">
    <div class="jumbotron">

        <table class="table">
            <p><tr>
                  <td><strong>Image:</strong></td>
                  <td><%= image_tag  @regowner.image.url(:medium) %></td>
                </tr></p>
            <p>
            <tr>
              <td><strong>Firstname:</strong></td>
              <td><%= @regowner.firstname %></td>
            </tr>
            </p>

            <p><tr>
              <td><strong>Lastname:</strong></td>
              <td><%= @regowner.lastname %></td>
            </tr></p>


            <p><tr>
              <td><strong>Email:</strong></td>
              <td><%= @regowner.email %></td>
            </tr></p>

            <p><tr>
              <td><strong>Landlineno:</strong></td>
              <td><%= @regowner.landlineno %></td>
           </tr> </p>

            <p><tr>
             <td><strong>Mobileno:</strong></td>
             <td> <%= @regowner.mobileno %></td>
           </tr> </p>

            <p><tr>
              <td><strong>Dob:</strong></td>
             <td> <%= @regowner.dob %></td>
           </tr> </p>

            <p><tr>
              <td><strong>Gender:</strong></td>
              <td><%= @regowner.gender %></td>
            </tr></p>

            <p><tr>
              <td><strong>Age:</strong></td>
              <td><%= @regowner.age %></td>
           </tr> </p>

            <p><tr>
              <td><strong>Nooffamily:</strong></td>
              <td><%= @regowner.nooffamily %></td>
            </tr></p>

            <p><tr>
              <td><strong>Profession:</strong></td>
              <td><%= @regowner.profession %></td>
           </tr> </p>

            <p><tr>
              <td><strong>Pancardno:</strong></td>
              <td><%= @regowner.pancardno %></td>
            </tr></p>

            <p><tr>
              <td><strong>Address:</strong></td>
              <td><%= @regowner.address %></td>
           </tr></p>

           
      </table>
<%= link_to 'Edit', edit_regowner_path(@regowner) %> |
<%= link_to 'Back', regowners_path %>

</div>
</div>
</body>
</html>