<html lang="en">
<head>
<%= render 'layouts/accordion' %>


<div class="container" style="padding-top: 20px; padding-bottom: 25px; align=center">
  <%= form_for :parkowner, url: parkowner_path(@parkowner), :class=>"form-horizontal", :role=>"form", method: :patch  do |f| %>

 <div class="col-md-2 col-sm-6 col-xs-12">

      
    </div>


  <div class="row">
    <!-- left column -->
   
    <!-- edit form column -->
    <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
      
        <div class="form-group">
          <label class="col-lg-3 control-label"></label>
          <div class="col-lg-8" style=" padding-bottom: 18px">
           <h3>Parking Details</h3>
          </div>
        </div>

         <div class="form-group">
          <label class="col-lg-3 control-label" style="text-align:left">Parking number:</label>
          <div class="col-lg-8" style=" padding-bottom: 18px">
            <%= f.number_field :parkingno, autofocus: true, :class => "form-control" , :placeholder=>"Enter parking number"%>
          </div>
        </div>

         <div class="form-group">
          <label class="col-lg-3 control-label" style="text-align:left">Number of two wheeler:</label>
          <div class="col-lg-8" style=" padding-bottom: 18px">
             <%= f.number_field :nooftwowheeler, autofocus: true, :class => "form-control" , :placeholder=>"Enter number of two wheeler"%>
          </div>
        </div>

         <div class="form-group">
          <label class="col-lg-3 control-label" style="text-align:left">Number of four wheeler:</label>
          <div class="col-lg-8" style=" padding-bottom: 18px">
            <%= f.number_field :nooffourwheeler, autofocus: true, :class => "form-control" , :placeholder=>"Enter number of four wheeler"%>
          </div>
        </div>

        <div class="form-group">
        
          <div class="col-md-8">
             <%= f.submit 'Update', :class=>"btn btn-primary"%>
          </div>
        </div>
        <% end %>
    </div>
  </div>
</div>