
<html>
  <body>
  <br><br><br><br>
   <div class="container">
    <div class="jumbotron">

        <table class="table">

            <p>
            <tr>
              <td><strong>Id:</strong></td>
              <td><%= @parkowner.id %></td>
            </tr>
            </p>

            <p><tr>
              <td><strong>Parkingno:</strong></td>
              <td><%= @parkowner.parkingno %></td>
           </tr> </p>

            <p><tr>
              <td><strong>Nooftwowheeler:</strong></td>
              <td><%= @parkowner.nooftwowheeler %></td>
           </tr> </p>

            <p><tr>
             <td> <strong>Nooffourwheeler:</strong></td>
             <td> <%= @parkowner.nooffourwheeler %></td>
           </tr> </p>

           
      </table>
<%= link_to 'Edit', edit_parkowner_path(@parkowner) %> |
<%= link_to 'Back', parkowners_path %>

</div>
</div>
</body>
</html>