<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.role.name %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>

<!DOCTYPE html>
<head>
<style>
.responsive {
float: left;
margin: 5px;
padding: 15px;
width: 120px;
height: 170px;
border: 1px solid black;
} 
</style>
</head>

<%= render 'layouts/navigation' %>

<div class="wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand text-uppercase" href="#">Society Walk <span class="label label-success text-capitalize"></span></a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navigation">
           <h3 align="right"></h3>




                <%if signed_in?%>
                    <li><%=link_to current_user.email, edit_user_registration_path%></li>
                    <li><%=link_to "Logout", destroy_user_session_path, method: :delete%></li>
                <%else%>
                    <li><%=link_to "Register", new_user_registration_path%></li>
                    <li><%=link_to "Login", new_user_session_path,:class=>"btn-btn"%></li>
                <%end%>
       
        </div>
      </div>
    </nav>
   
<div class="Dashboard"> <h3>DASH BOARD</h3>
<div class="col_01"><a href="#"> <img src="assets/Admission.png" ><br/>Owner Registration</a></div>
<div class="col_01"><a href="Student.html" > <img src="assets/Student-Details.png"><br/>Student Details  </a></div>
<div class="col_01" ><a href="ManageUsers.html"> <img src="assets/Manage-Users.png"><br/>Manage Users</a></div>
<div class="col_01"><a href="Schoolnews.html"> <img src="assets/Manage-News.png"><br/>News</a></div>

<div class="col_01"><a href="visitors/eventnotice"> <img src="assets/Examinations.png"><br/>Eventnotice</a></div>
<div class="col_01"><a href="Timetable.html"> <img src="assets/Timetable.png"><br/>Timetable</a></div>
<div class="col_01"><a href="Attendance.html"> <img src="assets/Attendance.png"><br/>Attendance</a></div>
<div class="col_01"><a href="Settings.html"> <img src="assets/Settings.png"><br/>Settings</a></div>
<div class="col_01"><a href="Human-Resources.html"> <img src="assets/HR.png"><br/>Human Resources</a></div>
<div class="col_01"><a href="Finance.html"> <img src="assets/Finance.png"><br/>Finance</a></div>
<div class="col_01"><a href="#"> <img src="assets/Blog.png"><br/>Blog</a></div>
<div class="col_01"><a href="Hostel.html"> <img src="assets/Hostel.png"><br/>Hostel</a></div>
<div class="col_01"><a href="Library.html"> <img src="assets/Library.png"><br/>Library</a></div>
<div class="col_01"><a href="Transport.html"> <img src="assets/Transport.png"><br/>Transport</a></div>
</div>
</div>
   
   <body>

    <div> <h3>DASH BOARD</h3>
    <div class="responsive">
<a href="../noticeboards/"> <img src="assets/Admission.png" ><br/>Notice Board</a></div>
<div class="responsive">
<a href="" > <img src="assets/Student-Details.png"><br/>Photo Gallery  </a></div>

<div class="responsive">
<a href="../pollings/new"> <img src="assets/Manage-Users.png"><br/>Instant Poll</a></div>

<div class="responsive">
<a href="../memachivements/"> <img src="assets/Manage-News.png"><br/>Member Achievement</a></div>

<div class="responsive">
<a href="../vendors"> <img src="assets/Examinations.png"><br/>Vendor List</a></div>


<div class="responsive">
<a href="../classifieds/new"> <img src="assets/Timetable.png"><br/>Classifieds</a></div>

<div class="responsive">
<a href="../regowners/"> <img src="assets/Attendance.png"><br/>Instant Member Search</a></div>


<div class="responsive">
<a href="../complaints/new"> <img src="assets/Settings.png"><br/>Complaints</a></div>

<div class="responsive">
<a href="../comiteemembers/"> <img src="assets/HR.png"><br/>Commitee Member List</a></div>

<div class="responsive">
<a href="../regowners/"> <img src="assets/contact.png"><br/>Member Contact List</a></div>



<div class="responsive">
<a href="../meetings/"> <img src="../assets/Manage-Users.png"><br/>Meetings</a></div>


<div class="responsive">
<a href="../regowners/new"> <img src="assets/register.gif"><br/>Owners Registration</a></div>

<div class="responsive">
<a href="../regtenants/new  "> <img src="assets/register.gif"><br/>Tenants Registration</a></div>  


<div class="responsive">
<a href="../parktenants/"> <img src="assets/parking.jpg"><br/>Tenants Parking</a></div>

<div class="responsive">
<a href="../parkowners/"> <img src="assets/parking.jpg"><br/>Owners Parking</a></div>


<div class="responsive">
<a href="../flatowners"> <img src="assets/flat.png"><br/>Flat Owners</a></div>



<div class="responsive">
<a href="../documents/"> <img src="assets/documents.jpg"><br/>Documents</a></div>


<div class="responsive">
<a href="../posts/"> <img src="assets/forum.jpg"><br/>Forum</a></div>
</div>



