<!DOCTYPE html>
<html lang="en">
<head>
<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-folder-close">
                            </span>Content</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-pencil text-primary"></span><a href="http://www.jquery2dotnet.com">Articles</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-flash text-success"></span><a href="http://www.jquery2dotnet.com">News</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-file text-info"></span><a href="http://www.jquery2dotnet.com">Newsletters</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-comment text-success"></span><a href="http://www.jquery2dotnet.com">Comments</a>
                                        <span class="badge">42</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-th">
                            </span>Modules</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Orders</a> <span class="label label-success">$ 320</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Invoices</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Shipments</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Tex</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-user">
                            </span>Account</a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Change Password</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Notifications</a> <span class="label label-info">5</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Import/Export</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-trash text-danger"></span><a href="http://www.jquery2dotnet.com" class="text-danger">
                                            Delete Account</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-file">
                            </span>Reports</a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-usd"></span><a href="http://www.jquery2dotnet.com">Sales</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-user"></span><a href="http://www.jquery2dotnet.com">Customers</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-tasks"></span><a href="http://www.jquery2dotnet.com">Products</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-shopping-cart"></span><a href="http://www.jquery2dotnet.com">Shopping Cart</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <!-- Tuser list div starts here -->

    
</head>
<body>
  
<div class="container" style="padding-top: 60px; align=center">

   <h1 class="page-header"><center>Create Invoice</center></h1>
  <div class="row">
    <!-- left column -->
    
    <!-- edit form column -->
    <div class="col-md-8 col-sm-6 col-xs-12 personal-info">

    <%= form_for(@maintainnance_invoice) do |f| %>
       <form class="form-horizontal" role="form">
        <div class="form-group">
          <label class="col-lg-3 control-label">Member Name:</label>
          <div class="col-lg-8">
            <input class="form-control" value=" " type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Flat Type:</label>
          <!-- <div class="col-lg-8">
            <input class="form-control" value="Bishop" type="date">
          </div> -->
          <div class="col-lg-8">
            <input class="form-control" value=" " type="text">
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 control-label">Building No:</label>
          <!-- <div class="col-lg-8">
            <input class="form-control" value="Bishop" type="date">
          </div> -->
          <div class="col-lg-8">
            <input class="form-control" value=" " type="text">
          </div>
        </div>
        <h1><center>Invoice Description</center></h1>
        
        <div class="form-group">
          <label class="col-lg-3 control-label">Year:</label>
              
          <div class="col-md-5">
          <%= f.select(:iv_year, options_for_select([['2011', '2011'], ['2012', '2012'], ['2013', '2013'], ['2014', '2014']])) %>
                
            </div>
        </div><br>

        <div class="form-group">
          <label class="col-lg-3 control-label">Frequency:</label>
          <!-- <div class="col-lg-8">
            <input class="form-control" value="Bishop" type="date">
          </div> -->
          <div class="col-md-5">
                <%= f.select(:iv_freq, options_for_select([['yearly', 'yearly'], ['quarterly', 'quarterly'], ['monthly', 'monthly'], ['half yearly', 'half yearly']])) %>
            </div>
        </div><br>

        <div class="form-group">
          <label class="col-lg-3 control-label">Period:</label>
          <!-- <div class="col-lg-8">
            <input class="form-control" value="Bishop" type="date">
          </div> -->
          <div class="col-md-5">
                <%= f.select(:iv_period, options_for_select([['1st half', '1st half'], ['2nd half', '2nd half']])) %>
            </div>
        </div><br>

        <div class="form-group">
          <label class="col-lg-3 control-label">From Date:</label>
          <div class="col-md-5">
         	<%= f.date_select :iv_fromdate %>
          </div>
        </div><br>

        <div class="form-group">
          <label class="col-lg-3 control-label">To Date:</label>
          <div class="col-md-5">
    		<%= f.date_select :iv_todate %>
          </div>
        </div><br>
        
        <div class="form-group">
          <label class="col-lg-3 control-label">Invoice Date:</label>
          <div class="col-md-5">
            <%= f.date_select :invoicedate %>
          </div>
        </div><br>
        
        <div class="form-group">
          <label class="col-lg-3 control-label">Due Date:</label>
          <div class="col-md-5">
          	<%= f.date_select :iv_duedate %>    
          </div>
        </div>
        
        <div class="form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
          	<%= f.submit :class=>"btn btn-primary", :value=>"Create invoice" %>
            <span></span>
            <input class="btn btn-default" value="Cancel" type="reset">
          </div>
        </div>
      </form>
      <% end %>
    </div>
  </div>
</div>
<!-- userlist div ends here -->
    </div>
</div>



      
<script type="text/javascript">

</script>
</body>
</html>
