
<html lang="en">
<head>
<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-folder-close">
                            </span>Content</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-pencil text-primary"></span><a href="http://www.jquery2dotnet.com">Articles</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-flash text-success"></span><a href="http://www.jquery2dotnet.com">News</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-file text-info"></span><a href="http://www.jquery2dotnet.com">Newsletters</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-comment text-success"></span><a href="http://www.jquery2dotnet.com">Comments</a>
                                        <span class="badge">42</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-th">
                            </span>Modules</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Orders</a> <span class="label label-success">$ 320</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Invoices</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Shipments</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Tex</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-user">
                            </span>Account</a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Change Password</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Notifications</a> <span class="label label-info">5</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Import/Export</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-trash text-danger"></span><a href="http://www.jquery2dotnet.com" class="text-danger">
                                            Delete Account</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-file">
                            </span>Reports</a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-usd"></span><a href="http://www.jquery2dotnet.com">Sales</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-user"></span><a href="http://www.jquery2dotnet.com">Customers</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-tasks"></span><a href="http://www.jquery2dotnet.com">Products</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-shopping-cart"></span><a href="http://www.jquery2dotnet.com">Shopping Cart</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

  
  <div class="row">
    <!-- left column -->

    <!-- edit form column -->
    <div class="col-md-8 col-sm-2 col-xs-10 personal-info">
  <%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

      
      <form class="form-horizontal" role="form">
        <h1>Add Event</h1>



  <div class="form-group">
    <label class="col-lg-3 control-label">Event name:</label>
      <div class="col-lg-8" style=" padding-bottom: 18px">        
          <%= f.text_field :title, :class=>"form-control"%>
      </div>
  </div>
      

  <div class="form-group">
    <label class="col-lg-3 control-label">Event cordinator:</label>
    <div class="col-lg-8" style=" padding-bottom: 18px">
        <%= f.text_field :cordinator, :class=>"form-control" %>
    </div>
  </div>



  <div class="form-group">
    <label class="col-lg-3 control-label">Event description:</label>
    <div class="col-lg-8" style=" padding-bottom: 18px">
      <%= f.text_area :description, :class=>"form-control" %>
    </div>
  </div>

 


  <div class="form-group" >
      <label class="col-lg-3 control-label">Requirements: </label>
      <div class="col-md-8" style=" padding-bottom: 18px">
      <div class="radioer">
        <%= radio_button :event, :requirment, :Staffing%>Staffing
        <%= radio_button :event, :requirment, :Catering%>Catering
        <%= radio_button :event, :requirment, :Security%>Security
      </div>
      </div>
  </div>

   <div class="form-group">
    <label class="col-lg-3 control-label"> Outside activity:</label>
    <div class="col-md-8" style=" padding-bottom: 18px">
    <div class="radioer">
        <%= radio_button :event, :outside, :Yes%>Yes
        <%= radio_button :event, :outside, :No%>No
    </div>
    </div>
  </div><!--.form-group-->

  
  <div class="form-group">
    <label class="col-lg-3 control-label">start date and time:</label>
    <div class="col-lg-8"style="padding-bottom:18px">
      <%= f.datetime_select :start_time %>

           </div>
       
 </div>

 <div class="form-group">
    <label class="col-lg-3 control-label">end date and time:</label>
    <div class="col-lg-8"style="padding-bottom:18px">
           <%= f.datetime_select :end_time %>  
    </div>
 </div>

 
  <div class="form-group">
    <label class="col-lg-3 control-label">Location:</label>
    <div class="col-lg-8" style=" padding-bottom: 18px">
      <%= f.text_area :location, :class=>"form-control" %>
    </div>
  </div>


  <div class="form-group">
    <label class="col-lg-3 control-label">City:</label>
    <div class="col-lg-8" style=" padding-bottom: 18px">
      <%= f.text_field :city, :class=>"form-control" %>
    </div>
  </div>

           
  <div class="form-group">
    <label class="col-md-3 control-label"></label>
    <div class="col-lg-8" style=" padding-bottom: 18px">
     <span></span>
        <%= f.submit 'submit',:class=>"btn btn-primary" %>
        <%= link_to 'Show', @event, :class=>"btn btn-primary"%> |

        <%= link_to 'Back', events_path, :class=>"btn btn-primary" %>

     </div>
  </div>

  
  </form>
  <% end %>

    </div>
  </div>
</div>
 </div>
</div>


