

<script src='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.min.js'>
<link rel="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.4/fullcalendar.css">



<%= javascript_tag do %>
$(document).ready(function() {
$('#calendar').fullCalendar()
});
<% end %>

</script>


<h1>Listing events</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
       <th>Cordinator</th>

      <th>Description</th>
      <th>City</th>
            <th>location</th>
            <th>requirment</th>
            <th>outside</th>


      <th>Start time</th>
      <th>End time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.title %></td>
                <td><%= event.cordinator %></td>

        <td><%= event.description %></td>
        <td><%= event.city %></td>
        <td><%= event.location %></td>
        <td><%= event.requirment %></td>
        <td><%= event.outside %></td>

        <td><%= event.start_time %></td>
        <td><%= event.end_time %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
<div id='calendar'></div>
