
<!DOCTYPE html>
<html lang="en">
<head>
<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-folder-close">
                            </span>Content</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-pencil text-primary"></span><a href="http://www.jquery2dotnet.com">Articles</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-flash text-success"></span><a href="http://www.jquery2dotnet.com">News</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-file text-info"></span><a href="http://www.jquery2dotnet.com">Newsletters</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-comment text-success"></span><a href="http://www.jquery2dotnet.com">Comments</a>
                                        <span class="badge">42</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-th">
                            </span>Modules</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Orders</a> <span class="label label-success">$ 320</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Invoices</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Shipments</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Tex</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-user">
                            </span>Account</a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Change Password</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Notifications</a> <span class="label label-info">5</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Import/Export</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-trash text-danger"></span><a href="http://www.jquery2dotnet.com" class="text-danger">
                                            Delete Account</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-file">
                            </span>Reports</a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-usd"></span><a href="http://www.jquery2dotnet.com">Sales</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-user"></span><a href="http://www.jquery2dotnet.com">Customers</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-tasks"></span><a href="http://www.jquery2dotnet.com">Products</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-shopping-cart"></span><a href="http://www.jquery2dotnet.com">Shopping Cart</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      <!-- Tuser list div starts here -->
        


            <script type="text/javascript">
// <![CDATA[
function display(obj,id1,id2,id3,id4) {
txt = obj.options[obj.selectedIndex].value;
document.getElementById(id1).style.display = 'none';
document.getElementById(id2).style.display = 'none';
document.getElementById(id3).style.display = 'none';
document.getElementById(id4).style.display = 'none';

if ( txt.match(id1) ) {
document.getElementById(id1).style.display = 'block';
}
if ( txt.match(id2) ) {
document.getElementById(id2).style.display = 'block';
}
if ( txt.match(id3) ) {
document.getElementById(id3).style.display = 'block';
}
if ( txt.match(id4) ) {
document.getElementById(id4).style.display = 'block';
}

}
// ]]>
</script>
</head>
<body>


            <div class="container" style="padding-top: 60px;">
  <h2> Non-Regular Income</h2>
  <div class="row">

              <%= form_for(@nr_income) do |f| %>

    <!-- left column -->
   
    <!-- edit form column -->
    <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
            <form class="form-horizontal" role="form">



        <div class="form-group">
          <label class="col-lg-3 control-label">Non-Regular Income Type:</label>
            <div class="col-md-5">
                <%= f.select(:nri_type, options_for_select([['comminute hall', 'comminute hall'], ['type2', 'type2']])) %>
            </div>
        </div><br><br>

           <div class="form-group">
          <label class="col-lg-3 control-label">Bank Account:</label>
            <div class="col-md-5">
                <%#= f.select(:bank_account, options_for_select([['SBI', 'SBI'], ['HDFC', 'HDFC']])) %>

                <%#= collection_select(:city, :country_id, @countries, :id, :country_name, {:prompt => false}) %> 

                    <%= collection_select(:nr_income, :bank_account, @bankaccounts, :id, :bank_name, {:prompt => false}) %> 


            </div>
        </div><br>

            <div class="form-group">
                  <label class="control-label col-md-3" style="text-align:left">Member Type:</label>
                  <div class="col-md-5" style="padding-bottom:18px; text-align:left">
                    <div class="radioer">
                         <%= radio_button :nr_income, :member_type, :Resident%>Resident
                         &nbsp&nbsp&nbsp&nbsp 
                         <%= radio_button :nr_income, :member_type, :Non_Resident%>Non Resident
                      </div>
            </div><br><br>


                <div class="form-group">
                  <label class="col-lg-3 control-label">Name:</label>
                  <div class="col-lg-8">
                     <%= f.text_field :name, autofocus: true, :class => "form-control" , :placeholder=>"Enter Name"%>
                  </div>
                </div>

                  <div class="form-group">
                      <label class="col-lg-3 control-label">Phase_no:</label>
                      <div class="col-lg-8">
                        <!-- <input class="form-control" value="Jane" type="text"> -->
                        <%= f.number_field :phase_no, autofocus: true, :class => "form-control" , :placeholder=>"Enter phase_no"%>
                      </div>
                    </div>

                      <div class="form-group">
                      <label class="col-lg-3 control-label">Flat_no:</label>
                      <div class="col-lg-8" >
                        <!-- <input class="form-control" value="Jane" type="text"> -->
                        <%= f.number_field :flat_no, autofocus: true, :class => "form-control" , :placeholder=>"Enter phase_no"%>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-lg-3 control-label">Amount:</label>
                      <div class="col-lg-8">
                        <!-- <input class="form-control" value="Jane" type="text"> -->
                        <%= f.number_field :amount, autofocus: true, :class => "form-control" , :placeholder=>"Enter phase_no"%>
                      </div>
                    </div><br>


                     <div class="form-group">
                      <label class="col-lg-3 control-label">Date:</label>
                      <div class="col-md-5">
                        <%= f.date_select :date %>
                      </div>
                    </div> 
        <div>
        <table class="table table-hover">

        <thead>
        <tr>
        <td class="col-lg-3 control-label">Payment Option:</td>
        <div class="col-lg-10">
        <td>
        <%= f.select :pay_mode, options_for_select(@nr_income_type),{:prompt=> "Select Payment type"},{:class =>"form-control", :onchange=>"display(this,'Transfer','Cheque','Draft','Cash');"}%>

        </td>
        </div>
        </tr>
        </thead>

        <tfoot>
        <tr>
        <td class="align-center" colspan="2"><%= f.submit :value=>"submit" %> <input type="reset" value="Reset"></td>
        </tr>
        </tfoot>

        <tbody id="Transfer" style="display: none;">
        <tr>
        <td class="col-lg-8 control-label" >Description:</td>
        <td><%= f.text_area :trs_desc %></td>
        </tr>

        <tr>
        <td class="col-lg-8 control-label">Bank Name:</td>
        <td><%= f.text_field :trs_bankname %></td>
        </tr>

        <tr>
        <td class="col-lg-3 control-label">Transaction no.:</td>
        <td><%= f.text_field :trs_no %></td>
        </tr>

        <tr>
        <td class="col-lg-3 control-label">Date:</td>
        <td><%= f.date_select :trs_date %></td>
        </tr>

        </tbody>

        <tbody id="Cheque" style="display: none;">
        <tr>
        <td class="col-lg-3 control-label">Description:</td>
        <td class="field"><%= f.text_area :chq_desc %></td>
        </tr>
        <tr>
        <td class="col-lg-3 control-label">Cheque number:</td>
        <td class="field"><%= f.text_field :chq_no %></td>
        </tr>
        <tr>
        <td class="col-lg-3 control-label">Bank name:</td>
        <td class="field"><%= f.text_field :chqbank_name %></td>
        </tr>
        <tr>
        <td class="col-lg-3 control-label">Branch name:</td>
        <td class="field"><%= f.text_field :chqbranch_name %></td>
        </tr>
        <tr>
        <td class="col-lg-3 control-label">Date:</td>
        <td class="field"><%= f.date_select :chq_date %></td>
        </tr>
        </tbody>
        <tbody id="Draft" style="display: none;">
        <tr>
        <td class="col-lg-3 control-label">Description:</td>
        <td class="field"><%= f.text_area :draft_des %></td>
        </tr>
        <tr>
        <td class="col-lg-3 control-label">Draft number:</td>
        <td class="field"><%= f.text_field :draft_no %></td>
        </tr>
        <tr>
        <td class="col-lg-3 control-label">Bank name:</td>
        <td class="field"><%= f.text_field :draft_bankname %></td>
        </tr>
        <tr>
        <td class="col-lg-3 control-label">Branch name:</td>
        <td class="field"><%= f.text_field :draft_branchname %></td>
        </tr>
        <tr>
        <td class="col-lg-3 control-label">Date:</td>
        <td class="field"><%= f.date_select :draft_date %></td>
        </tr>
        </tbody>
        <tbody id="Cash" style="display: none;">
        <tr>
        <td class="col-lg-3 control-label">Description:</td>
        <td class="field"><%= f.text_area :cash_desc %></td>
        </tr>
        <tr>
        <td class="col-lg-3 control-label">Date:</td>
        <td class="field"><%= f.date_select :cash_date %></td>
        </tr>

</tbody>


</table>
</div>
<!-- 
  <div class="actions">
    <%= f.submit %>
  </div> -->

   </form>
<% end %>



    </div>
  </div>
</div>


 	 <!-- userlist div ends here -->
    </div>
</div>



      
<script type="text/javascript">

</script>
</body>
</html>

