<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <style type="text/css">

.panel-refresh {
 height:250px;
 position:relative;
}
 
.refresh-container {
 position:absolute;
 top:0;
 right:0;
 background:rgba(200,200,200,0.25);
 width:100%;
 height:100%;
 display: none;
 text-align:center;
 z-index:4;
}
.refresh-spinner {
 padding: 30px;
 opacity: 0.8;
}
li{
text-align: left;
color: blueviolet;

}
.bs-example{
        margin: 20px;
    }
    </style>

</head>

<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<div class="container">
    <!--refresh widget-->
        <div class="panel panel-info"> 
            <div class="panel-heading">
            <h1>
            <span class="glyphicon glyphicon-th"></span>
            <a class="pull-right" ></a> <strong>Accounting</strong>
             </h1>    
            </div>
          <div class="panel-body ">
    <div class="bs-example">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" align="left">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Income Tracker</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <ul type="Square ">
                <li>Open for Admin only</li>
                <li>Income tracker supports Different Society Categories like 2BHK,3BHK,Penthouse flats maintenance and periodic maintenance-set charges differently</li>
                <li>Invoice can be raise for Rent for Hall or Open space area, Transfer Premium, non-residents income etc</li>
                <li>Multiple Charges under different heads can be combined into one invoice and then raised</li>
                <li>Admin can add new Income Heads</li>
                <li>Easy posting of Amount Collected, with generation of e-receipt which can be send by email, simple text message or print</li>
                <li>Cheque payment only get reflected after payment get approve by admin</li>
                <li>Members can enter payments in the system OR admin can update the payments on members behalf</li>
                <li>Admin can approve a payment or reject a payment entered by the members</li>
                <li> Advance payment and Partial payment can be done easily</li>
                <li>Admin can add discount if member paying in Advanced and</li> 
                <li>Discount can be in fixed amount or in percent</li>
                <li>Interest on payment simply automated calculated</li>
                <li>Receipts of deposits configured for all Members of society and send it by mail also</li>
                <li>Select and send email/SMS reminders to defaulters on the payments to be made</li>
                </ul> 
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" align="left">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Auto Bill Generation</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul type="Square ">
              <li>Open for Admin only</li>
              <li>On click generates bill and mailed it for each flat of society</li>
              <li>Admin can configure billing period and due date</li>
              <li>Bill amount can get vary as per Area, 1 BHK,2BHK, 3BHK, Penthouse, Serviced apartments and set charges differently And Add Service tax amount in bill</li>
              <li>Supports different Apartment Categories like 1 BHK, 2BHK, 3BHK, Penthouse, Serviced apartments and set charges differently</li>
              <li>Automatically Calculate penalty on previous due amount</li>
              <li>Get SMS alert of bill generation</li>
              <li>Generate and print bill by single click</li>
              </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" align="left">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Auto Penalty Calculation</a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                   <ul type="Square ">

              <li>Open for Admin only</li>
              <li>Payment after due dates can automatically calculated extra charges, It is penalty for society members</li>
              <li>Members get sms / emails of reminders for payments before due date</li>
              <li>Examples of penalty scheme- Type 1 : Late Fee % of Previous Balance(After Due date) Type 2 : Late Fee Fixed(After Due Date)</li>
              </ul>
                </div>
            </div>
        </div>
       <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" align="left">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Expense Tracker</a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                   <ul type="Square ">
                   <li>Check your society spending!!</li>
                   <li>Open for Admin only</li>
                   <li>Selection of Cash/Bank account given when pay for expenses</li>
                   <li>Enter Bills provided by Suppliers, Track payments made against each bill, along with service tax paid and TDS deducted</li>
                   <li>Integrated with Bank & Cash accounts - expenses seamlessly reflect in the bank or cash account statements - reconcile with ease</li>
                  <li>Print the expense reports by single click</li>
                  <li>Outstanding dues against supplier is available</li>
                  <li>Multiple Invoices against supplier can be raise</li>
              </ul>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" align="left">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Bank Account</a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body">
                   <ul type="Square ">
              <li>Make every Transaction effortlessly!!</li>
              <li>Open for Admin only</li>
              <li>Create and configure Bank Accounts and Cash accounts of society - current, fixed deposits, and cash accounts</li>
              <li>Seamlessly integrated with Income and Expense - all income and expenses posted reflect against Bank Accounts or Cash book</li>
              <li>Track all member income, non-member income and expenses against the bank and cash accounts</li>
              <li>Bank passbook shows total bank balance with Opening balance, Bank deposits and Bank withdraws</li>
              <li>Cash book shows total cash in hand with Opening balance, cash deposits and cash withdraws</li>
              <li>Check Bank and Cash balance position by single click</li>
              </ul>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" align="left">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">Payment Reminders</a>
                </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse">
                <div class="panel-body">
                   <ul type="Square ">
                  <li>Remind members about payment / due date by E-mail / SMS!!</li>
                  <li>It automatically schedule simple text /mails reminders and send it to All, Committee members, Group of members and only to one member of society</li>
                  <li>Payment reminder remind member or group of members by mails/ simple text before one or three day of payment due date and the day of payment due date</li>
                 <li>Maintain data of all members like Contact no, Email ID for purpose of sending reminders of payment before due date or after due date</li>
                 </ul>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" align="left">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">Income Expenditure Report</a>
                </h4>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse">
                <div class="panel-body">
                   <ul type="Square ">
              <li>Financial Information that Identifies Income and Expenses</li>
              <li>Income and Expense Report is a calculation and Reporting of society Income and Expense Transactions</li>
              <li>Income and Expense report type is used to analyze the in and out cash flows</li>
              </ul>
              </div>
                </div>
            </div>
            <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" align="left">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseEight">All Bye-laws report</a>
                </h4>
            </div>
            <div id="collapseEight" class="panel-collapse collapse">
                <div class="panel-body">
                   <ul type="Square ">
              <li>Rule or law established by an organization or community to regulate itself</li>
              <li>All reports such as Balance sheet, General ledger, Income and Expenditure, Tenant, Nominee etc as per Government Bye-laws</li>
              <li>ByeLaws in English</li>
              <li>ByeLaws in Marathi</li>
              </ul>
             </div>
            </div>
        </div>

        

        </div>


    </div>
</div>
</div>   
</div>
</div>