<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <style type="text/css">

.panel-refresh {
 height:250px;
 position:relative;
}
 
.refresh-container {
 position:absolute;
 top:0;
 right:0;
 background:rgba(200,200,200,0.25);
 width:100%;
 height:100%;
 display: none;
 text-align:center;
 z-index:4;
}
.refresh-spinner {
 padding: 30px;
 opacity: 0.8;
}
li{
text-align: left;
color: blueviolet;

}
.bs-example{
        margin: 20px;
    }
    </style>

</head>

<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<div class="container">
    <!--refresh widget-->
        <div class="panel panel-info"> 
            <div class="panel-heading">
            <h1>
            <span class="glyphicon glyphicon-th"></span>
            <a class="refresh pull-right" ></a> <strong>Billing</strong>
             </h1>    
            </div>
          <div class="panel-body ">
    <div class="bs-example">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" align="left">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Payment Gateway</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <ul type="Square ">
                    <li>Pay Bill Online and reduce efforts!!</li>
                    <li>Society Member can pay their maintenance dues online through payment gateway provided by Societywalk</li>
                    <li>Payments can be made via Credit Card / Debit Card</li>
                    <li>Transaction charges 1.16% for debit card and 2.2% for Credit Card are applicable</li>
                    <li>After payment instant E-Receipt is generated and dues get cleared off</li>
                    <li>Payment gets routed to associated bank directly within 24hrs</li>
                    <li>We are providing sophisticated Payment gateway tools for risk management and fraud detection to ensure your payment is safe and secure</li>
               </ul> 
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" align="left">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Services</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul type="Square ">
                   <li> <a class="bg-success">Generate bill as Monthly Quarterly,yearly,Halfyearly</a></li>
                    <li> Fixed charge as per flat area</li>
                    <li>Calculate construction cost</li>
                    <li> Penalty on late bill payment</li>
                    <li> Discount on early bill payment</li>
                    <li> SMS & Email broadcost to user's profile</li>
                    <li>Included maintainance charge</li>
                    <li>Parking charge's cost with flat area</li>
              </ul>
                </div>
            </div>
        </div>
      
      </div>
    </div>
   </div>
</div>  