<head>
<meta charset="UTF-8">
<title>Example of Bootstrap 3 Accordion</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <style type="text/css">

.panel-refresh {
 height:250px;
 position:relative;
}
 
.refresh-container {
 position:absolute;
 top:0;
 right:0;
 background:rgba(200,200,200,0.25);
 width:100%;
 height:100%;
 display: none;
 text-align:center;
 z-index:4;
}
.refresh-spinner {
 padding: 30px;
 opacity: 0.8;
}
li{
text-align: left;
  color: blueviolet;

}
.bs-example{
        margin: 20px;
    }
    </style>

</head>

<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<div class="container">
    <!--refresh widget-->
        <div class="panel panel-info"> 
            <div class="panel-heading">
            <h1>
            <span class="glyphicon glyphicon-th"></span>
            <a class="refresh pull-right" ></a> <strong>Data Management</strong>
             </h1>    
            </div>
          <div class="panel-body ">
    <div class="bs-example">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"align="left">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" align="left">Complaint Box</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <ul type="Square ">
                <li>Open for all society Members</li>
                <li>Members of society can raise Requests, Complaints, ask for Suggestions to the admin, committee member or office bearer</li>
                <li>Members can raise complaints related to their flats (personal complaints) or common areas (community complaints) of society</li>
                <li>Members easily identify Complaints name ,Date, Assign to Name and status of complaints</li>
                <li>Owner only identify their own added and assigned complaints they cannot see others added and assigned complaints</li>
                <li>Only Admin and Office bearer have rights to Assign that complaints to other members to solve</li>
                <li>Status change for complaints</li>
                <li>Members can add more comments to the complaint/suggestions</li>
                <li>Complaint Delete only by who added</li>
                <li>Added and Update complaints mail and SMS send to only whom to assign that complaint</li>
                
               </ul> 
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Society Rules and Procedures</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul type="Square ">
              <li>Open For all members of society</li>
              <li>Rules/Procedure add/edit/delete by only Admin and Committee members only
              <li>Society Rules/Procedure display to all members of society</li>
              </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Meeting Tracking</a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                   <ul type="Square ">

              <li>Open for Admin and Committee members only</li>
              <li>Meeting Organizers can reschedule/cancel meetings, update list of Attendees</li>
             <li>Members can see all the meetings for which they have been invited</li>
             <li>Members can see all the mails and SMS for which they have been invited</li>
             <li>Total Preview of meeting</li>
             </ul>
                </div>
            </div>
        </div>
       <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">User Management</a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                   <ul type="Square ">
              <li>Open for only Admin of society</li>
              <li>It display all user information reports like Basic info, Tenant info, Parking info, Family info etc</li>
              <li>All residents accounts can be added, approved, deactivated by Admin only</li>
              <li>Managing all society members data like Basic info ,Family info ,Tenant info etc</li>
              <li>Admin can customize user and give rights to specific user to add notice, meeting, poll and vendor</li>
              <li>Committee add/edit/delete by only Admin</li>
              <li>Only Admin have rights to Activate email for society members for registration of society</li>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Member Contact List</a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body">
                <h8><small>Maintain contacts for everyone in society!!</small></h8>
                   <ul type="Square ">
              <li>Open For all members of society</li>
              <li>All members can contribute to the list - only Admin can delete it</li>
              <li>Contact list Help the new members of society to settle down quickly</li>
               </ul>
              </div>
                </div>
            </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">Document Repository</a>
                </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse">
                <div class="panel-body">
                <h8><small><b>Repository of all Admin, User and Common Documents!!</small></b></h8>
                   <ul type="Square ">
              <li>Open for all members of society</li>
              <li>Store all Upload files, Photos , Reference documents, Society documents at one place</li>
              <li>In Documents user can be create folders and stored documents into folders also create albums for photos</li>
              <li>Documents have three different types-Admin, User, Common Documents</li>
              <li>Everyone Upload documents in only User Documents</li>
              <li>Common documents only uploaded/rename and delete by Admin and Committee members which are Society documents</li>
              <li>Tenant and Owner have no rights to upload an common documents</li>
            <li>Admin documents only uploaded by admin user</li>
              </ul>
              </div>
                </div>
            </div>
        

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">Committee Member List</a>
                </h4>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse">
                <div class="panel-body">
                <h8><small></small></h8>
                   <ul type="Square ">
              <li>Open For all members of society</li>
              <li>Maintain contacts of frequently used members who are Committee head, Committee member, Building Treasurer, Building Secretary , Building Chairman, Federal Treasurer, Federal Secretary, Federal Chairman, President, Vice President and so on</li>
              <li>Committee list display to everyone and add/edit/delete only by Admin</li>
              <li>Ability to search Committee by committee name in change committee</li>
             </ul>
              </div>
            </div>
          </div>
            
          <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseEight">Tenant Register</a>
                </h4>
              </div>
            <div id="collapseEight" class="panel-collapse collapse">
                <div class="panel-body">
                    <h8><small></small></h8>
                   <ul type="Square ">
                    <li>Open for Admin only</li>
                    <li>Only Admin can check Tenant Report</li>
                    <li>Tenant register shows Flat wise Tenant information like Tenant Name, Owner of flat, Flat no, Tenant permanent Address, Email ID, Date of joining society, Police verification completed or not and Contact No.</li>
                    <li>Tenant can edit Tenant Information from edit profile</li>
                    </ul>
                  </div>
              </div>
          </div>
            
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseNine">Parking Register</a>
                </h4>
               </div>
              <div id="collapseNine" class="panel-collapse collapse">
                <div class="panel-body">
                <h8><small></small></h8>
                   <ul type="Square ">
              <li>Open for Admin only</li>
              <li>Only Admin can check Parking report of others</li>
              <li>Maintain parking information of all members in the society - such as Owner name, Parking no, Vehicle no and Flat no for easy identification</li>
              <li>Edit parking information from edit profile</li>
              <li>Easily identify flats having more vehicles than the parking lots they own</li>
              <li>Security supervisors can be given access to the Vehicle and Parking Lot directory</li>
               </ul>
              </div>
            </div>
          </div>
          
          <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTen"> Email / SMS Broadcast</a>
                </h4>
            </div>
            <div id="collapseTen" class="panel-collapse collapse">
                <div class="panel-body">
                <h8><small><b>Repository of all Admin, User and Common Documents!!</small></b></h8>
                   <ul type="Square ">
              <li>Get alerts of society activity and payments!!</li>
              <li>Get SMS / Email alerts on posting Notice, Event, Complaints</li>
              <li>In DocumeBroadcast E-mails to all society members, one building, Committee Members or particular flat member through society portal</li>
              <li>Configure SMS alerts as you needed</li>
              <li>Get Payment reminders through Email / SMS alerts</li>
              <li>Auto send bill / payment receipt through Email with SMS alert</li>
              <li>SMS can be sent to members even if they are registered under DnD Registry</li>
              <li>All the messages are sent to DnD numbers in predefined format</li>
              </ul>
              </div>
                </div>
           </div>
        

    </div>
</div>
</div>   
</div>
