<html>
<head>
    <style type="text/css">

h2 {
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 10px;
    line-height: 50px;
}
.highlight {
    color: #2ac5ed;
}
#content {
    padding: 70px 0;
}
#content .features-list {
    padding-top: 35px;
}
.features-list .feature-block {
    margin-bottom: 18px;
}
.features-list .feature-block .ico {
    font-size: 37px;
    line-height: 70px;
    width:70px;
    height: 70px;
    background: #5accff;
    display: inline-block;
    border-radius: 50%;
    color: #FFFFFF;
    margin-bottom: 10px;
}
.features-list .feature-block.bottom-line .ico {
    width: auto;
    height: auto;
    background: transparent;
    color: #5accff;
    text-align: center;
    font-size: 41px;
    vertical-align: top;
    margin-top: -10px;
}
.features-list .feature-block.bottom-line .fa-github {
    font-size: 50px;
}
.features-list .feature-block.bottom-line .fa-dashboard {
    font-size: 45px;
    margin-top: -15px;
}
.features-list .feature-block.bottom-line .ico {
    float: left;
    margin-right: 15px;
    margin-left: 21px;
}
.features-list .feature-block.bottom-line .features-content {
    padding-right: 15px;
    display: table;
}
.features-list .feature-block.bottom-line .features-content .name {
    margin-bottom: 5px;
}
.features-list .feature-block.bottom-line .features-content .subname {
    font-size: 16px;
    margin-bottom: 12px;
}
.features-list .feature-block .name {
    font-size: 20px;
    line-height: 1.25em;
    font-weight: bold;
    margin-bottom: 10px;
}
.features-list .feature-block .text {
    font-size: 12px;
    line-height: normal;
    margin-bottom: 15px;
}
                                        
    </style>

</head>

 <body background="../assets/images/image2.jpg">
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<div class="container">
<section id="content" class="current">
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <h2></h2>
                <h2 style="font-size: 60px;line-height: 60px;margin-bottom: 20px;font-weight: 900;"> <span class="highlight"> Features</span></h2>
                <p>All the features you need to create an amazing website.</p>
            </div>


                 
        </div>
        <div class="row">
            <div class="col-lg-offset-1 col-sm-12 col-md-12 col-lg-10">
                <div class="features-list">
                    <div class="row">
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="feature-block bootdey" style="visibility: visible;">
                                <div class="ico fa fa-magic"></div>
                                <div class="name">
                                    Society Share
                                </div>
                                <div class="text">SocietyRun provides a simple yet intuitive platform where society member can SHARE their thoughts, Give opinion via Poll, get Notices, Events update, Broadcast Email/SMS and many more. </div>
                                <div class="more">
                                    <a href="societyshare.html" class="btn btn-default btn-sm">Read more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="feature-block bootdey" style="visibility: visible;">
                                <div class="ico fa fa-magnet"></div>
                                <div class="name">
                                    Data Management
                                </div>
                                <div class="text">Store and access your common society documents, Member / Tenant / Parking / Nominee Registers, MOM / AGM Report with easy steps. SocietyRun also helps in quick complaint resolution.</div>
                                <div class="more">
                                    <a href="datamanagement.html" class="btn btn-default btn-sm">Read more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="feature-block bootdey" style="visibility: visible;">
                                <div class="ico fa fa-gift"></div>
                                <div class="name">
                                    Accounting
                                </div>
                                <div class="text"><!-- * Our software can help keep track of all bills, payments, and transactions<br>
                                *Users/auditors can also access book of accounts, trial balance, balance sheet, outstanding list, and other information online. --> Generate E-Bill, Auto Penalty Calculation, Payment Reminders, Payment Gateway, Track Income, Expense and Accounting report as per Bye-Laws makes your account easy and paperless.</div>
                                <div class="more">
                                    <a href="accounting.html" class="btn btn-default btn-sm">Read more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="feature-block bootdey" style="visibility: visible;">
                                <div class="ico fa fa-cubes"></div>
                                <div class="name">
                                    Billing
                                </div>
                                <div class="text">
                                * The software can be used for generating both regular as well as special event bills.
                                Bill generation command can be manual or automatic.It can also keep track of late and early payments and accordingly levy penalties or offer discounts respectively. 
                              </div>
                                <div class="more">
                                    <a href="billing.html" class="btn btn-default btn-sm">Read more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="feature-block bootdey" style="visibility: visible;">
                                <div class="ico fa fa-expand"></div>
                                <div class="name">
                                    Audit&Taxation
                                </div>
                                <div class="text">* Our software automatically verifies various transactions,financial as well as management and notifies the various violations of Byelaws under the Maharashtra Cooperative State Act,if any,to assist the auditor while auditing.Audit Report,Audit Memorandum,Form No1 and Form No 28 are also generated automatically</div>
                                <div class="more">
                                    <a href="#" class="btn btn-default btn-sm">Read more</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="feature-block bootdey" style="visibility: visible;">
                                <div class="ico fa fa-send-o"></div>
                                <div class="name">
                                    Staff
                                </div>
                                <div class="text">Complete information of a society,It stores the various vital information of an employee.It store the employee's bio-data,to fulfill the needs,the staffs are classifieds in different categories </div>
                                <div class="more">
                                    <a href="staff.html" class="btn btn-default btn-sm">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>                                        