<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <style type="text/css">

.panel-refresh {
 height:250px;
 position:relative;
}
 
.refresh-container {
 position:absolute;
 top:0;
 right:0;
 background:rgba(200,200,200,0.25);
 width:100%;
 height:100%;
 display: none;
 text-align:center;
 z-index:4;
}
.refresh-spinner {
 padding: 30px;
 opacity: 0.8;
}
li{
  text-align: left;
  color: blueviolet;
}
.bs-example{
        margin: 20px;
    }
    </style>

</head>

<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<div class="container">
 <body background="../assets/images/image2.jpg">
    <!--refresh widget-->
        <div class="panel panel-info"> 
            <div class="panel-heading">
            <h1>
            <span class="glyphicon glyphicon-th"></span>
            <a class="refresh pull-right" ></a> <strong>Society Share</strong>
             </h1>    
            </div>
          <div class="panel-body ">
    <div class="bs-example">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" align="left">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">My Inbox</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <ul type="Square ">
                <li>This is the original data that will update upon refresh.</li>
                <li> Open for all members of society</li>
                <li>Admin provides change password facility to all members</li>
                <li>Make your own folder by uploading documents or images and show this all documents into My documents folder</li>
                <li>All information stored at one place ,Unlimited Storage available</li>
                <li>This becomes your Society's Back office storage area for All Flats</li>
                <li>Every society members see only there receive mail send from other  society members</li>
                <li>It Preview mail such as Date, who send mail and attachments</li>
                <li>Everyone have rights to send email so they can send mail to anyone such as all owner, all Tenant, Building A etc</li>
               </ul> 
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" align="left">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Noticeboard</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul type="Square ">
              <li>Notices can be posted to everyone, only owner, only tenant, owner who lives here, Committee Member or particular building in the Society</li>
              <li>Notices can be added Only by Admin, Committee member, Office bearer or customize user</li>
              <li>Other members don’t have rights to add Notices</li>
              <li>Admin can add notices which are visible only to Committee members or to all</li>
              <li>Everyone views notices which are added for them by Admin, Committee or customize user</li>
              <li>Documents and images can be attached with notices</li>
              <li>All members easily identify Subject ,Date ,Name of member who add notice and also view attachment from notice table</li>
              <li>Only member who add notice and admin have rights to delete/edit Notice</li>
              </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" align="left">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Event Calendar</a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                   <ul type="Square ">

              <li>Open For all members of society</li>
              <li>Events due on a certain day can be viewed by clicking on that date in the calendar</li>
              <li>Events can be added by Everyone</li>
              <li>Everyone view events on calendar</li>
              <li>All members easily identify Event name ,Date and Name of member who add Event</li>
              <li>Event added and Updated Mail send to users only whom which are selected in send to of Add Event</li>
              <li>All members will get instant access to Events from Residents Tab</li>

              </ul>
                </div>
            </div>
        </div>
       <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" align="left">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Member Achievment</a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                   <ul type="Square ">
              <li>Open For all members of society</li>
              <li>Achievements can be added by Everyone</li>
              <li>"Achievements" can be viewed by all society members</li>
              <li>Achievements can be delete by Only who added achievement and Admin</li>
              <li>Access Achievement directly from Residents Tab</li>
              </ul>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" align="left">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Photo Gallery</a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body">
                   <ul type="Square ">
              <li>Open For all members of society</li>
              <li>Add and Upload multiple photos into the gallery at one time</li>
              <li>Gallery photos accessible to the all members of society there is no more need to upload photos in public photo sharing sites
              </li>
              
              </ul>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" align="left">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">Instant Member Search</a>
                </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse">
                <div class="panel-body">
                   <ul type="Square ">
             <li>Open For all members of society</li>
              <li> Member can check basic information of other society member by using search box</li>
              <li>It search members Basic information includes Photo, Emergency contact information, Family information, Parking information, Tenant information</li>
              <li>You can search members from anywhere</li>
              <li>This information is very useful at time of emergency</li>
              </ul>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" align="left">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">Vendor List</a>
                </h4>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse">
                <div class="panel-body">
                   <ul type="Square ">
              <li>Open For all members of society</li>
              <li>All members views list of all vendors</li>
              <li>List of common service providers with quality of service</li>
              <li>Vendor only add/delete by Admin, Committee member and Customize user</li>
              <li>Helps any new society member to settle down with a single click!</li>
              <li>All members will get instant access to Vendor list from My flat tab</li>
              </ul>
              </div>
                </div>
            </div>
            <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" align="left">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseEight">Classified</a>
                </h4>
            </div>
            <div id="collapseEight" class="panel-collapse collapse">
                <div class="panel-body">
                   <ul type="Square ">
              <li>Open For all members of society</li>
              <li> Society Owners can reach out to the world when trying to Buy/sell their flats and Search for special offers/services or offering services</li>
              <li>Classifieds add and display to everyone but delete only by who added and Admin</li>
              <li>Search for offers from trusted network of other society owners</li>
              <li>Classifieds display with Date and Price and Search by Purpose and category</li>
              <li>All members will get instant access to Classified from My flat tab</li>
              </ul>
             </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" align="left">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseNine">Forum</a>
                </h4>
            </div>
            <div id="collapseNine" class="panel-collapse collapse">
                <div class="panel-body">
                   <ul type="Square ">
              <li>Open For all members of society</li>
              <li>Post Online Forum and Comments in Organized manner</li>
              <li>Member can easily identify Author name of Post Forum and Date of Post forum</li>
              <li>Conversations can be made visible to all Members of society and they can also reply for that conversation</li>
              <li>Post forum include text formatting and images also</li>
              <li>Eliminates the need of Google/Yahoo as all discussion are stored at only one central place</li>
              <li>All members will get instant access to all past discussions of Posted forums</li>
              <li>Login User who added forum have rights to delete/edit posted forum and Admin have also rights to delete that forum</li>
              <li>Posted Forums will use for Future Reference</li> 
              <li>Everyone get mail after posted forum</li>
              <li>All members will get instant access to Forums from Residents Tab</li>
              </ul>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" align="left">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTen">Instant Poll</a>
                </h4>
            </div>
            <div id="collapseTen" class="panel-collapse collapse">
                <div class="panel-body">
                   <ul type="Square ">
              <li>Open For all members of society</li>
              <li>Only Admin, Committee member and Office bearer can Add poll</a></li>
              <li>Owners and Tenants have no rights to add poll</li>
              <li>Create polls with multiple options to be voted and Choose the set of eligible voters - all, only federal committee, only building A and so on</li>
              <li>Poll Option to restrict 1 vote per flat or 1 vote per person for every poll</li>
              <li>Schedule polling date range with poll end date - poll will be show in active    poll before end date else in old poll</li>
              <li>Active Poll voting results visible to a member after he has voted and rated that poll with percent and calculate total votes</li>
              <li>Only the person who create the poll and Admin can delete that poll</li>
              <li>Mail and SMS send to only target audience</li>
              <li>Members will get instant access to vote for Active poll from Residents Tab</li>
              </ul>
                </div>
            </div>
        </div>

    </div>
  </div>
</div>
</div>  