<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <style type="text/css">

.panel-refresh {
 height:250px;
 position:relative;
}
 
.refresh-container {
 position:absolute;
 top:0;
 right:0;
 background:rgba(200,200,200,0.25);
 width:100%;
 height:100%;
 display: none;
 text-align:center;
 z-index:4;
}
.refresh-spinner {
 padding: 30px;
 opacity: 0.8;
}
li{
text-align: left;
color: blueviolet;

}
.bs-example{
        margin: 20px;
    }
    </style>

</head>

<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<div class="container">
    <!--refresh widget-->
        <div class="panel panel-info"> 
            <div class="panel-heading">
            <h1>
            <span class="glyphicon glyphicon-th"></span>
            <a class="refresh pull-right" ></a> <strong>Staff</strong>
             </h1>    
            </div>
          <div class="panel-body ">
    <div class="bs-example">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" align="left">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Staff</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <ul type="Square ">
                    <li>Open for Admin and Committee members only</li>
                    <li>Employee full information,details and document  </li>
                    <li>Event generate in staff</li>
                    <li>Notice provide in all society memeber</li>
                    <li></li>
                    <li>Payment gets routed to associated bank directly within 24hrs</li>
                    <li>We are providing sophisticated Payment gateway tools for risk management and fraud detection to ensure your payment is safe and secure</li>
               </ul> 
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" align="left">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Meetting tracking</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul type="Square ">
                    <li>Discuss the point</li>
                    <li>Records in previous meetting</li>
                    <li></li>
                    <li> </li>
                    <li></li>
                    <li> </li>
                    <li></li>
                    <li></li>
              </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" align="left">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Vendor</a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                   <ul type="Square ">
                  <li>Open for Admin and Committee members only</li>
                  <li>Vendor information and details of the AMCs like Amount, Contract Type, Contract Date etc</li>
                  <li>Preventive Service Schedules are entered initially with reminders before each date</li>

                 </ul>
                </div>
            </div>
        </div>
       <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" align="left">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Attendance</a>
                </h4>
            </div>

            <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                   <ul type="Square">
                   <img src="../assets/attendance.jpg" class="img-rounded pull-right" width="400" height="200">
                 <li>Entry in Visitors & Staff</li>
                <li>Each staff person gets an ID card with a unique Security Code</li>
                <li>The In/Out time of the person is captured by the system at click of a button</li>
                <li>Based on the information the attendance register is generated</li>
                <li>Reports also capture the variation between expected and actul time spent</li>
                </ul>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" align="left">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Photo Gallery</a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body">
                   <ul type="Square ">
              
              
              </ul>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" align="left">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">Instant Member Search</a>
                </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse">
                <div class="panel-body">
                   <ul type="Square ">
             
              </ul>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" align="left">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">Vendor List</a>
                </h4>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse">
                <div class="panel-body">
                   <ul type="Square ">
             
              </ul>
              </div>
                </div>
            </div>
            <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" align="left">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseEight">Classified</a>
                </h4>
            </div>
            <div id="collapseEight" class="panel-collapse collapse">
                <div class="panel-body">
                   <ul type="Square ">
             
              </ul>
             </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" align="left">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseNine">Forum</a>
                </h4>
            </div>
            <div id="collapseNine" class="panel-collapse collapse">
                <div class="panel-body">
                   <ul type="Square ">
              
              </ul>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" align="left">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTen">Instant Poll</a>
                </h4>
            </div>
            <div id="collapseTen" class="panel-collapse collapse">
                <div class="panel-body">
                   <ul type="Square ">
              
              </ul>
                </div>
            </div>
        </div>

    </div>


    </div>
</div>
</div>  