<head>
<meta charset="UTF-8">
<title>Example of Bootstrap 3 Accordion</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <style type="text/css">

.panel-refresh {
 height:250px;
 position:relative;
}
 
.refresh-container {
 position:absolute;
 top:0;
 right:0;
 background:rgba(200,200,200,0.25);
 width:100%;
 height:100%;
 display: none;
 text-align:center;
 z-index:4;
}
.refresh-spinner {
 padding: 30px;
 opacity: 0.8;
}
li{
text-align: left;

}
.bs-example{
        margin: 20px;
    }
    </style>

</head>

<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<div class="container">
    <!--refresh widget-->
        <div class="panel panel-info"> 
            <div class="panel-heading">
            <h1>
            <span class="glyphicon glyphicon-th"></span>
            <a class="refresh pull-right" ></a> <strong>Taxation</strong>
             </h1>    
            </div>
          <div class="panel-body ">
    <div class="bs-example">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title"align="left">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" align="left">About Taxation</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                    <ul type="Square ">
                <li>Co-operative society means a society registered under Co-operative Societies Act, 1912 or any other law in force in any state for the registration of Co-operative societies</li>
                
               
                
               </ul> 
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Provisions for Taxation of a Cooperative Society</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul type="Square ">
              <li>A Cooperative Society is a taxable entity under the Income Tax Act, 1961. A Cooperative Society under the Act is to be treated as an association of persons (AOP), which is included in the definition of 'person' under the Income Tax Act, 1961.	</li>
              <li>Even though, for taxation purposes, the status of a cooperative society is to be taken as an Association of Persons, the section 67A and section 86 of the Act have been excluded from application to the members of society</li>
              <li>As per Wealth Tax Act [Section 3(1)], only individuals, Hindu undivided families and companies are liable to wealth tax. Thus, no wealth tax is charged in the case of cooperative society.</li>
              </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Compute the taxable income for Cooperative Society</a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                   <ul type="Square ">

              <li>Now, from the amount, the permissible deductions under the Income Tax Act are made</li>
              <li>To the 'net income' so arrived at, the 'rates of tax' as per the Finance Act for the respective year is applicable to cooperative</li>
              <li>From the tax liability so determined, the amount of 'rebate' in the Act is deducted</li>
             </ul>
                </div>
            </div>
        </div>
      

    </div>
</div>
</div>   
</div>
</div>