<!DOCTYPE html>
<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script> 
$(document).ready(function(){
    $("#flip").click(function(){
        $("#panel").slideToggle("slow");
    });
});
$(document).ready(function(){
    $("#fli").click(function(){
        $("#pane").slideToggle("slow");
    });
});
</script>
 
<style> 
#panel, #flip {
    padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
}

#panel {
    padding: 50px;
    display: none;
       }

#pane, #fli {
    padding: 5px;
    text-align: center;
    background-color: #e5eecc;
    border: solid 1px #c3c3c3;
}

#pane {
    padding: 50px;
    display: none;
}
</style>
</head>
<body>
 
<div id="flip">password</div>
<div id="panel"><div class="form-group">
    <ul type="Square ">
                <li>  This is the original data that will update upon refresh.</li>
                <li> Open for all members of society</li>
                <li>Admin provides change password facility to all members</li>
                <li>Make your own folder by uploading documents or images and show this all documents into My documents folder</li>
                <li>All information stored at one place ,Unlimited Storage available</li>
                <li>This becomes your Society's Back office storage area for All Flats</li>
                <li>Every society members see only there receive mail send from other  society members</li>
                <li>It Preview mail such as Date, who send mail and attachments</li>
                <li>Everyone have rights to send email so they can send mail to anyone such as all owner, all Tenant, Building A etc</li>
               </ul> 
  </div></div>
<div id="fli">Click to User Id</div>
<div id="pane"><div class="form-group">
<ul type="Square ">
                <li>  This is the original data that will update upon refresh.</li>
                <li> Open for all members of society</li>
                <li>Admin provides change password facility to all members</li>
                <li>Make your own folder by uploading documents or images and show this all documents into My documents folder</li>
                <li>All information stored at one place ,Unlimited Storage available</li>
                <li>This becomes your Society's Back office storage area for All Flats</li>
                <li>Every society members see only there receive mail send from other  society members</li>
                <li>It Preview mail such as Date, who send mail and attachments</li>
                <li>Everyone have rights to send email so they can send mail to anyone such as all owner, all Tenant, Building A etc</li>
               </ul> 
               </div>
               </div>
    
  <div id="fli">password</div>
<div id="panel"><div class="form-group">
    <ul type="Square ">
                <li>  This is the original data that will update upon refresh.</li>
                <li> Open for all members of society</li>
                <li>Admin provides change password facility to all members</li>
                <li>Make your own folder by uploading documents or images and show this all documents into My documents folder</li>
                <li>All information stored at one place ,Unlimited Storage available</li>
                <li>This becomes your Society's Back office storage area for All Flats</li>
                <li>Every society members see only there receive mail send from other  society members</li>
                <li>It Preview mail such as Date, who send mail and attachments</li>
                <li>Everyone have rights to send email so they can send mail to anyone such as all owner, all Tenant, Building A etc</li>
               </ul> 
  </div></div>

</body>
</html>
