<h1>Listing galleryattachments</h1>

<table>
  <thead>
    <tr>
      <th>gallery_id</th>
      <th>Avatar</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @galleryattachments.each do |galleryattachment| %>
      <tr>
        <td><%= galleryattachment.gallery_id %></td>
        <td><%= galleryattachment.avatar %></td>
        <td><%= link_to 'Show', galleryattachment %></td>
        <td><%= link_to 'Edit', edit_galleryattachment_path(galleryattachment) %></td>
        <td><%= link_to 'Destroy', galleryattachment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Galleryattachment', new_galleryattachment_path %>
