<p id="notice"><%= notice %></p>

<p>
  <strong>gallery_id:</strong>
  <%= @galleryattachment.gallery_id %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= @galleryattachment.avatar %>
</p>

<%= link_to 'Edit', edit_galleryattachment_path(@galleryattachment) %> |
<%= link_to 'Back', galleryattachments_path %>
