
<h1>Documents Uploaded</h1>
    <table class="table">
      <thead>
        <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Download Link</th>
      <th>&nbsp;</th>
      <th style="width: 36px;"></th>
        </tr>
      </thead>
    <tbody>
       <% @documents.each do |document| %>
      <tr>
        <td><%= document.title %></td>
        <td><%= document.date %></td>
        <td><%= link_to "Download Notice",document.attachment_url %></td>
        <td><%= link_to 'Show', document %></td>
        <td><%= link_to 'Edit', edit_document_path(document) %></td>
        
      </tr>
    <% end %>
        
      </tbody>
    </table>
   <%= link_to 'New document', new_document_path %></div>