<p>
  <strong>Title:</strong>
  <%= @document.title %>
</p>
<p>
  <strong>Date:</strong>
  <%= @document.date %>
</p>


<p>
  <strong>File stored at:</strong>
  <%= @document.attachment %>
</p>



<%= link_to 'Edit',  edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>