<p id="notice"><%= notice %></p>

<h1>Listing Maintenance Charges</h1>

<table>
  <thead>
    <tr>
      <th>baseamount</th>
      <th>sinkingfnd</th>
      <th>otherfund</th>
      <th>other fund desc</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @maintenance_charges.each do |maintenance_charge| %>
      <tr>
        <td><%= maintenance_charge.mnt_baseamount %></td>
        <td><%= maintenance_charge.mnt_sinkingfnd %></td>
        <td><%= maintenance_charge.mnt_otherfund %></td>
        <td><%= maintenance_charge.mnt_odesc %></td>
        <td><%= link_to 'Show', maintenance_charge %></td>
        <td><%= link_to 'Edit', edit_maintenance_charge_path(maintenance_charge) %></td>
        <td><%= link_to 'Destroy', maintenance_charge, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Maintenance charge', new_maintenance_charge_path %>