<html lang="en">
<head>
<%= render 'layouts/accordion' %>


 <div class="container" style="padding-top: 20px; padding-bottom: 25px; align=center">
  <%= form_for :attenvisitor, url: attenvisitor_path(@attenvisitor), :class=>"form-horizontal", :role=>"form", method: :patch do |f| %>

 
  <h1 class="col-md-8 col-sm-6 col-xs-8">Visitors Attendence</h1>
  <div class="row">
   
    
          <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
        <div class="form-group">
          <label class="col-lg-3 control-label"></label>
          <div class="col-lg-8">
           <h3>Daily Attendence</h3>
          </div>
        </div>
  
      


        <div class="form-group">
          <label class="col-lg-3 control-label" style="text-align:left">First name:</label>
          <div class="col-lg-8" style=" padding-bottom: 18px">
          <%= f.text_field :firstname, autofocus: true, :class => "form-control" , :placeholder=>"Enter firstname"%>
          </div>
        </div>
        
        <div class="form-group">
          <label class="col-lg-3 control-label" style="text-align:left">Last name:</label>
          <div class="col-lg-8"  style=" padding-bottom: 18px">
              <%= f.text_field :lastname, autofocus: true, :class => "form-control" , :placeholder=>"Enter lastname"%>
          </div>
        </div>
        
         
         <div class="form-group">
          <label class="col-lg-3 control-label" style="text-align:left">Phase Name:</label>
          <div class="col-lg-8" style=" padding-bottom: 18px">
           <%= f.text_field :phasename, autofocus: true, :class => "form-control" , :placeholder=>"Enter phase name"%>
          </div>
        </div>


        <div class="form-group">
          <label class="col-lg-3 control-label" style="text-align:left">Flat Number:</label>
          <div class="col-lg-8" style=" padding-bottom: 18px">
           <%= f.number_field :flatno, autofocus: true, :class => "form-control" , :placeholder=>"Enter Flat Number"%>
          </div>
        </div>

         <div class="form-group">
          <label class="col-lg-3 control-label" style="text-align:left">Mobile Number:</label>
          <div class="col-lg-8" style=" padding-bottom: 18px">
           <%= f.text_field :mobileno, autofocus: true, :class => "form-control" , :placeholder=>"Enter Mobile Number"%>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 control-label" style="text-align:left">Visitors Address:</label>
          <div class="col-lg-8" style=" padding-bottom: 18px">
            <%= f.text_area :address, :class=>"form-control" %>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 control-label" style="text-align:left">Date:</label>
          <div class="col-lg-8" style="text-align:left; padding-bottom: 18px">
           <%= f.date_select :date ,:class => "form-control"  %>
          </div>
        </div>

         <div class="form-group">
          <label class="col-lg-3 control-label" style="text-align:left">Time In:</label>
          <div class="col-lg-8" style="text-align:left; padding-bottom: 18px">
           <%= f.time_select :timein ,:ampm=>true,:class => "form-control"  %>
          </div>
        </div>

         <div class="form-group">
          <label class="col-lg-3 control-label" style="text-align:left">Time Out:</label>
          <div class="col-lg-8" style="text-align:left; padding-bottom: 18px">
           <%= f.time_select :timeout ,:ampm=>true,:class => "form-control"  %>
          </div>
        </div>


        <div class="form-group">
          <div class="col-md-8">
             <%= f.submit 'Update', :class=>"btn btn-primary"%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>