<!DOCTYPE html>
<html lang="en">
<head>
<%= render 'layouts/accordion' %>

         <div class="col-sm-9 col-md-9"><!-- Tuser list div starts here -->

    

<h1>Visitors List</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Visitor Name</th>
          <th>Date</th>
          <th>Time In</th>
          <th>Time Out</th>
          <th>Visiting Flat No</th>
          <th>Address</th>
          <th>Mobile no</th>
          <th style="width: 36px;"></th>
        </tr>
      </thead>
      <tbody>
       <% @attenvisitors.each do |attenvisitor| %>
      <tr>
        <td><%= attenvisitor.id%></td>
        <td><%= attenvisitor.firstname %></td>
        <td><%= attenvisitor.date %></td>
        <td><%= attenvisitor.timein %></td>
        <td><%= attenvisitor.timeout %></td>
        <td><%= attenvisitor.flatno %></td>
        <td><%= attenvisitor.address %></td>
        <td><%= attenvisitor.mobileno %></td>
        <td><%= link_to 'Show', attenvisitor %></td>
        <td><%= link_to 'Edit', edit_attenvisitor_path(attenvisitor) %></td>
      </tr>
    <% end %>
        
      </tbody>
    </table>
</div>


</div> <!-- userlist div ends here -->
    </div>
</div>



      
<script type="text/javascript">

</script>


 




  