<html>
  <body>
  <br><br><br><br>
   <div class="container">
    <div class="jumbotron">

        <table class="table">

            <p>
            <tr>
              <td><strong>Firstname Name:</strong></td>
              <td><%= @attenvisitor.firstname %></td>
            </tr>
            </p>

             <p>
            <tr>
              <td><strong>Lastname Name:</strong></td>
              <td><%= @attenvisitor.lastname %></td>
            </tr>
            </p>

            <p><tr>
              <td><strong>Date:</strong></td>
             <td> <%= @attenvisitor.date %></td>
           </tr> </p>


            <p><tr>
              <td><strong>Time IN:</strong></td>
              <td><%= @attenvisitor.timein %></td>
           </tr></p>

           <p><tr>
              <td><strong>Time Out:</strong></td>
              <td><%= @attenvisitor.timeout %></td>
           </tr></p>

             <p><tr>
              <td><strong>Phase Name:</strong></td>
              <td><%= @attenvisitor.phasename %></td>
           </tr></p>

             <p><tr>
              <td><strong>Flat Number:</strong></td>
              <td><%= @attenvisitor.flatno %></td>
           </tr></p>

            <p><tr>
              <td><strong>Mobile no:</strong></td>
              <td><%= @attenvisitor.mobileno %></td>
           </tr></p>

             <p><tr>
              <td><strong>Address:</strong></td>
              <td><%= @attenvisitor.address %></td>
           </tr></p>


        </table>
<%= link_to 'Edit', edit_attenvisitor_path(@attenvisitor) %> |
<%= link_to 'Back', attenvisitors_path %>

</div>
</div>
</body>
</html>