<!DOCTYPE html>
<html lang="en">
<head>

<%= render 'layouts/accordion' %>

<div class="col-sm-9 col-md-9"><!-- Tuser list div starts here -->
<meta charset="utf-8">
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    <title>Table with users - Bootsnipp.com</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <style type="text/css">
        
    </style>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="btn-toolbar">
    <button class="btn btn-primary">New User</button>
    <button class="btn">Import</button>
    <button class="btn">Export</button>
</div>
<div class="well">


<h1>Listing Classifieds</h1>

<table>
  <thead>
    <tr>

      <th>Adtitle</th>
      <th>Addesc</th>
      <th>For</th>
      <th>Category</th>
      <th>Prize</th>
      <th>Contactno</th>
      <th>Validuntil</th>
      <th>Visibility</th>
      <th colspan="3"></th>


      <th>Image</th>
    </tr>
  </thead>

  <tbody>
    <% @classifieds.each do |classified| %>

      <tr>                                                     
       <td><%= classified.adtitle %></td>

      <tr>
        <td><%= classified.adtitle %></td>


        <td><%= classified.addesc %></td>
        <td><%= classified.sale %></td>
        <td><%= classified.category %></td>
        <td><%= classified.prize %></td>
        <td><%= classified.contactno %></td>
        <td><%= classified.validuntil %></td>
        <td><%= classified.visibility %></td>

        <td><%= image_tag classified.image %></td>
        <td><%= link_to 'Show', classified %></td>
        <td><%= link_to 'Edit', edit_classified_path(classified) %></td>
        <td><%= link_to 'Destroy', classified, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Classified', new_classified_path %>

    </div>
</div>



      
<script type="text/javascript">

</script>

</html>
