<html lang="en">
<head>
<%= render 'layouts/accordion' %>

 <div class="container" style="padding-top: 20px; padding-bottom: 25px; align=center">
  <%= form_for :classified, url: classifieds_path, :class=>"form-horizontal", :role=>"form" do |f| %>


 
 
  <h1 > <center>Classifieds </center> </h1>
      



        <div class="form-group">
          <label class="col-lg-3 control-label" style="text-align:left">Ad Title:</label>
          <div class="col-lg-8" style=" padding-bottom: 18px">
          <%= f.text_field :adtitle, autofocus: true, :class => "form-control" , :placeholder=>"Enter firstname"%>
          </div>
        </div>
        
        <div class="form-group">
          <label class="col-lg-3 control-label" style="text-align:left">Ad Description:</label>
          <div class="col-lg-8"  style=" padding-bottom: 18px">
              <%= f.text_area :addesc, autofocus: true, :class => "form-control" , :placeholder=>"Enter lastname"%>
          </div>
        </div>
        

        <div class="form-group">
                  <label class="control-label col-md-3" style="text-align:left">For:</label>
                  <div class="col-md-5" style="padding-bottom:18px;">
                    <div class="radioer">
                         <%= radio_button :classified, :sale, :sale%>sale
                         <%= radio_button :classified, :sale, :rent%>rent
                      </div>
                    </div>
        </div><!--.form-group-->

         
        


        <div class="form-group">
          <label class="col-lg-3 control-label">Category:</label>
          
          <div class="col-md-5" style=" padding-bottom: 18px">
                <%= f.select(:category, options_for_select([['Flat', 'Flat'], ['Electronics', 'Electronics'], ['Furniture', 'Furniture'], ['Mobile', 'Mobile']])) %>
            </div>
        </div><br>



       

         <div class="form-group">
          <label class="col-lg-3 control-label" style="text-align:left">Prize:</label>
          <div class="col-lg-8" style=" padding-bottom: 18px">
           <%= f.text_field :prize, autofocus: true, :class => "form-control" , :placeholder=>"Enter Mobile Number"%>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 control-label" style="text-align:left">Contact No:</label>
          <div class="col-lg-8" style=" padding-bottom: 18px">
            <%= f.text_field :contactno, :class=>"form-control" %>
          </div>
        </div>

      


        <div class="form-group">
          <label class="col-lg-3 control-label">Valid Until:</label>
          
          <div class="col-md-5" style=" padding-bottom: 18px">
         <%= f.select(:validuntil, options_for_select( [['15 days', '15 days'], ['30 days', '30 days']])) %>
            </div>
        </div>




        <div class="form-group">
          <label class="col-lg-3 control-label">Visibility:</label>
          
          <div class="col-md-5" style=" padding-bottom: 18px">
                <%= f.select(:visibility, options_for_select([['Public', 'Public'], ['Society Members', 'Society Members']])) %>
            </div>
        </div><br>


        <div class="form-group">
          <label class="col-lg-3 control-label">Image:</label>
          <div class="col-lg-8" style=" padding-bottom: 18px" style=" padding-bottom: 18px">        
           <%= f.file_field :image, autofocus: true, :class => "form-control" %>
          </div>
        </div>
       


         <div class="form-group">
          <label class="col-lg-3 control-label">Image:</label>
          <div class="col-lg-8" style=" padding-bottom: 18px" style=" padding-bottom: 18px">        
           <%= f.file_field :image, autofocus: true, :class => "form-control" %>
        </div>
        </div>




        <div class="form-group">
          <div class="col-md-8">
             <%= f.submit 'Post Ad', :class=>"btn btn-primary"%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>





