

<!DOCTYPE html>
<html lang="en">
<head>
<%= render 'layouts/accordion' %>

         <div class="col-sm-9 col-md-9"><!-- Tuser list div starts here -->
<meta charset="utf-8">
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    <title>Table with users - Bootsnipp.com</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <style type="text/css">
        
    </style>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
</head>


    <p><tr>
      <td><%= image_tag @classified.image.url(:medium) %></td>
    </tr></p>

<p>

<p>
  <strong>Adtitle:</strong>
  <%= @classified.adtitle %>
</p>

<p>
  <strong>Addesc:</strong>
  <%= @classified.addesc %>
</p>

<p>
  <strong>For:</strong>
  <%= @classified.sale %>
</p>

<p>
  <strong>Category:</strong>
  <%= @classified.category %>
</p>

<p>
  <strong>Prize:</strong>
  <%= @classified.prize %>
</p>

<p>
  <strong>Contactno:</strong>
  <%= @classified.contactno %>
</p>

<p>
  <strong>Validuntil:</strong>
  <%= @classified.validuntil %>
</p>

<p>
  <strong>Visibility:</strong>
  <%= @classified.visibility %>
</p>

<%= link_to 'Edit', edit_classified_path(@classified) %> |
<%= link_to 'Back', classifieds_path %>
