<!DOCTYPE html>
<html lang="en">
<head>
<%= render 'layouts/accordion' %>
</head>
<body>
<div class="container" style="padding-top: 60px; align=center">
  <%= form_for :comitteemember, url: comitteemembers_path, :class=>"form-horizontal", :role=>"form" do |f| %>
  <h1>Committee Member Registration</h1>
<br><br><br>
  <div class="row">
   
    <!-- edit form column --> 
    <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
     
     <div class="form-group">
          <label class="col-lg-3 control-label" style="text-align:left">Full Name:</label>
          <div class="col-lg-8" style="padding-bottom:18px">
<!--             <input class="form-control" value="Jane" type="text">
 -->      <%= f.text_field :fullname, autofocus: true, :class => "form-control" , :placeholder=>"         Enter fullname"%>
          </div>
         </div>
        
        
            
        <div class="form-group">
            <label class="col-lg-3 control-label" style="text-align:left">Post:</label>
             <div class="col-lg-8" style="padding-bottom:18px">
                <%= f.text_field :role, autofocus: true, :class => "form-control" , :placeholder=>"Enter Role"%>
            </div>
        </div>
        
        
        <div class="form-group">
                <label class="col-lg-3 control-label" style="text-align:left">Email:</label>
            <div class="col-lg-8" style="padding-bottom:18px">
<!--             <input class="form-control" value=" " type="text"> -->
                <%= f.text_field :email, autofocus: true, :class => "form-control" , :placeholder=>"Enter email" %>
          </div>
        </div>
       
        <div class="form-group">
          <label class="col-md-3 control-label" style="text-align:left">Phase no:</label>
          <div class="col-md-8" style="padding-bottom:18px">
                <%= f.text_field :phaseno,  :class => "form-control" , :placeholder=>"Enter Phase_No"%>
          </div>
        </div>

       
        <div class="form-group">
          <label class="col-lg-3 control-label" style="text-align:left">Responsible For:</label>
          <div class="col-lg-8" style="padding-bottom:18px">
<!--            <textarea class="form-control" rows="2" id="comment"></textarea> -->
                <%= f.text_area :responsiblefor, :class=>"form-control" %>
           </div>
           </div>
         

        <div class="form-group">
          <label class="col-md-3 control-label" style="text-align:left">Start Date:</label>
          <div class="col-md-8" style="padding-bottom:18px;text-align:left">
<!--             <input class="form-control" value=" " type="date"> -->
                  <%= f.date_select :startdate ,:class=> "form-control" %>
          </div>
        </div>

        
        <div class="form-group">
          <label class="col-md-3 control-label" style="text-align:left">Duration:</label>
          <div class="col-md-8" style="padding-bottom:18px">
<!--             <input class="form-control" value=" " type="integer">
 -->          <%= f.number_field :duration, :class => "form-control" %>
          </div>
        </div>

        <div class="form-group">
                  <label class="control-label col-md-3" style="text-align:left">Gender:</label>
                  <div class="col-md-5" style="padding-bottom:18px; text-align:left">
                    <div class="radioer">
                         <%= radio_button :comitteemember, :gender, :Male%>Male
                         <%= radio_button :comitteemember, :gender, :Female%>Female
                      </div>
                    </div>
        </div><!--.form-group-->
        <div class="form-group">
          <div class="col-md-8">  
            <%= f.submit 'Create Member',:class=>"btn btn-primary"%>
         </div>
        </div>
<% end %>
 <!-- userlist div ends here -->
</div>
</div>


</div>




      
<script type="text/javascript">

</script>
</body>
</html>



<%= link_to 'Show', @comitteemember %> |
<%= link_to 'Back', comitteemembers_path %>