 <!DOCTYPE html>
<html lang="en">
<head>
<%= render 'layouts/accordion' %>
         <div class="col-sm-9 col-md-9"><!-- Tuser list div starts here -->
<meta charset="utf-8">
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    <title>Table with users - Bootsnipp.com</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <style type="text/css">
        
    </style>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="btn-toolbar">
    <button class="btn btn-primary">New User</button>
    <button class="btn">Import</button>
    <button class="btn">Export</button>
</div>
<div class="well">

<h1>Listing Comitteemembers</h1>
    <table class="table">
      <thead>
        <tr>
      <th>Fullname</th>
      <th>Gender</th>
      <th>Role</th>
      <th>Email</th>
      <th>Phaseno</th>
      <th>Responsiblefor</th>
      <th>Startdate</th>
      <th>Duration</th>
          <th style="width: 36px;"></th>
        </tr>
      </thead>
      <tbody>
      <% @comitteemembers.each do |comitteemember| %>
      <tr>
        <td><%= comitteemember.fullname %></td>
        <td><%= comitteemember.gender %></td>
        <td><%= comitteemember.role %></td>
        <td><%= comitteemember.email %></td>
        <td><%= comitteemember.phaseno %></td>
        <td><%= comitteemember.responsiblefor %></td>
        <td><%= comitteemember.startdate %></td>
        <td><%= comitteemember.duration %></td>
        <td><%= link_to 'Show', comitteemember %></td>
        <td><%= link_to 'Edit', edit_comitteemember_path(comitteemember) %></td>
        <td><%= link_to 'Destroy', comitteemember, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
        
      </tbody>
    </table>
    <%= link_to 'New Comitteemember', new_comitteemember_path %>
</div>
<div class="pagination">
    <ul>
        <li><a href="#">Prev</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">Next</a></li>
    </ul>
</div>
<div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Delete Confirmation</h3>
    </div>
    <div class="modal-body">
        <p class="error-text">Are you sure you want to delete the user?</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button class="btn btn-danger" data-dismiss="modal">Delete</button>
    </div>
</div>
</div> <!-- userlist div ends here -->
    </div>
</div>



      
<script type="text/javascript">

</script>


