
<html lang="en">
<head>
<%= render 'layouts/accordion' %>
</head>


<p id="notice"><%= notice %></p>

<p>
  <strong>Fullname:</strong>
  <%= @comitteemember.fullname %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @comitteemember.gender %>
</p>

<p>
  <strong>Role:</strong>
  <%= @comitteemember.role %>
</p>

<p>
  <strong>Email:</strong>
  <%= @comitteemember.email %>
</p>

<p>
  <strong>Phaseno:</strong>
  <%= @comitteemember.phaseno %>
</p>

<p>
  <strong>Responsiblefor:</strong>
  <%= @comitteemember.responsiblefor %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @comitteemember.startdate %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @comitteemember.duration %>
</p>

<%= link_to 'Edit', edit_comitteemember_path(@comitteemember) %> |
<%= link_to 'Back', comitteemembers_path %>