<!DOCTYPE html>
<html lang="en">
<head>
<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-folder-close">
                            </span>Content</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-pencil text-primary"></span><a href="http://www.jquery2dotnet.com">Articles</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-flash text-success"></span><a href="http://www.jquery2dotnet.com">News</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-file text-info"></span><a href="http://www.jquery2dotnet.com">Newsletters</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-comment text-success"></span><a href="http://www.jquery2dotnet.com">Comments</a>
                                        <span class="badge">42</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-th">
                            </span>Modules</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Orders</a> <span class="label label-success">$ 320</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Invoices</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Shipments</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Tex</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-user">
                            </span>Account</a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Change Password</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Notifications</a> <span class="label label-info">5</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Import/Export</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-trash text-danger"></span><a href="http://www.jquery2dotnet.com" class="text-danger">
                                            Delete Account</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-file">
                            </span>Reports</a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-usd"></span><a href="http://www.jquery2dotnet.com">Sales</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-user"></span><a href="http://www.jquery2dotnet.com">Customers</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-tasks"></span><a href="http://www.jquery2dotnet.com">Products</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-shopping-cart"></span><a href="http://www.jquery2dotnet.com">Shopping Cart</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<body>
<div class="container" style="padding-top: 60px; align=center">
  
  <%= form_for :noticeboard, url: noticeboards_path, :class=>"form-horizontal", :role=>"form" do |f| %>
  <h1>Noticeboard</h1>
<br><br><br>
  <div class="row">
   
    <!-- edit form column --> 
    <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
     
        <div class="form-group">
          <label class="col-lg-3 control-label" style="text-align:left">Title:</label>
          <div class="col-lg-8" style="padding-bottom:18px">
               <%= f.text_field :title, autofocus: true, :class => "form-control" , :placeholder=>"Enter title"%>
          </div>
     </div>
        
         <div class="form-group">
          <label class="col-lg-3 control-label" style="text-align:left">Description:</label>
          <div class="col-lg-8" style="padding-bottom:18px">
<!--            <textarea class="form-control" rows="2" id="comment"></textarea> -->
                <%= f.text_area :description, :class=>"form-control" %>
           </div>
           </div>
         

        <div class="form-group">
          <label class="col-md-3 control-label" style="text-align:left">Valid Until:</label>
          <div class="col-md-8" style="padding-bottom:18px;text-align:left">
<!--             <input class="form-control" value=" " type="date"> -->
                  <%= f.date_select :validuntil ,:class=> "form-control" %>
          </div>
        </div>

         <div class="form-group">
          <div class="col-md-8" >&nbsp &nbsp  
            <%= f.submit 'Create Notice',:class=>"btn btn-primary"%>
         </div>
        </div>
<% end %>
 <!-- userlist div ends here -->
   <table class="table">
      <thead>
        <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Valid until</th>
      <th style="width: 36px;"></th>
        </tr>
      </thead>
    <tbody>
       <% @noticeboards.each do |noticeboard| %>
      <tr>
        <td><%= noticeboard.title %></td>
        <td><%= noticeboard.description %></td>
        <td><%= noticeboard.validuntil %></td>
        <td><%#= link_to 'Show', noticeboard %></td>
        <td><%= link_to 'view', edit_noticeboard_path(noticeboard) %></td>
        <td><%= link_to 'Destroy', noticeboard, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
        
      </tbody>
    </table>
   <%= link_to 'New Noticeboard', new_noticeboard_path %></div>

<div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Delete Confirmation</h3>
    </div>
    <div class="modal-body">
        <p class="error-text">Are you sure you want to delete the user?</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
        <button class="btn btn-danger" data-dismiss="modal">Delete</button>
    </div>
</div>
</div> <!-- userlist div ends here -->
</div>
</div>


</div>


</html>




