<!DOCTYPE html>
<html lang="en">
<head>
<%= render 'layouts/accordion' %>

    
</head>
<body>
<div class="container" style="padding-top: 60px; align=center">
  
  <%= form_for :noticeboard, url: noticeboards_path, :class=>"form-horizontal", :role=>"form", html: { multipart: true } do |f| %>
  <h1>Noticeboard</h1>
<br><br><br>
  <div class="row">
   
    <!-- edit form column --> 
    <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
     
        <div class="form-group">
          <label class="col-lg-3 control-label" style="text-align:left">Title:</label>
          <div class="col-lg-8" style="padding-bottom:18px">
               <%= f.text_field :title, autofocus: true, :class => "form-control" , :placeholder=>"Enter title"%>
          </div>
     </div>
        
         <div class="form-group">
          <label class="col-lg-3 control-label" style="text-align:left">Description:</label>
          <div class="col-lg-8" style="padding-bottom:18px">
<!--            <textarea class="form-control" rows="2" id="comment"></textarea> -->
                <%= f.text_area :description, :class=>"form-control" %>
           </div>
           </div>
         

        <div class="form-group">
          <label class="col-md-3 control-label" style="text-align:left">Valid Until:</label>
          <div class="col-md-8" style="padding-bottom:18px;text-align:left">
<!--             <input class="form-control" value=" " type="date"> -->
                  <%= f.date_select :validuntil ,:class=> "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label" style="text-align:left">Attachment:</label>
          <div class="col-md-8" style="padding-bottom:18px;text-align:left">
<!--             <input class="form-control" value=" " type="date"> -->
                  <%= f.file_field :attachment %>
          </div>
        </div>
           

         <div class="form-group">
          <div class="col-md-8" >&nbsp &nbsp  
            <%= f.submit 'Create Notice',:class=>"btn btn-primary"%>
         </div>
        </div>
<% end %>
 <!-- userlist div ends here -->
</div>
</div>


</div>

<script type="text/javascript">

</script>
</body>
</html>