<!DOCTYPE html>
<html lang="en">
<head>
<%= render 'layouts/accordion' %>

         <div class="col-sm-9 col-md-9"><!-- Tuser list div starts here -->
<meta charset="utf-8">
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    <title>Table with users - Bootsnipp.com</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <style type="text/css">
        
    </style>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
</head>


<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @noticeboard.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @noticeboard.description %>
</p>

<p>
  <strong>Valid until:</strong>
  <%= @noticeboard.validuntil %>
</p>



<%= link_to 'Edit',  edit_noticeboard_path(@noticeboard) %> |
<%= link_to 'Back', noticeboards_path %>