<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @gallery.title %>
</p>

<% @galleryattachments.each do |p| %>
  <%= image_tag p.avatar_url , :style => "width: 300px; height: 250px;" %>
  <%= link_to "Edit Attachment", edit_galleryattachment_path(p) %>
<% end %>

<%= link_to 'Edit', edit_gallery_path(@gallery) %> |
<%= link_to 'Back', galleries_path %>