<html lang="en">
<head>

<br><br>
<%= render 'layouts/accordion' %>

</head>

  <body>
   <div class="container" style="padding-top: 60px; align=center">
   <%= form_for :rule, url: rules_path do |f| %>
  <h1 class="page-header">Rule</h1>
  <div class="row">

        <div class="form-group">
          <label class="col-lg-3 control-label">Rule no:</label>
          <div class="col-lg-8"style="padding-bottom:18px">
             <%= f.number_field :rulenumber, :class=>"form-control" %>
           </div>
        </div>
        
           
      <div class="form-group">
          <label class="col-lg-3 control-label">Rule:</label>
          <div class="col-lg-8"style="padding-bottom:18px">
            <%= f.text_area :rule, :class=>"form-control" %>
           </div>
        </div>
        
       
       <div class="form-group">
          <div class="col-md-8">  
          <%= f.submit 'Add', :class=>"btn btn-primary"%>
      </div>
       </div>
      <% end %>
    </div>
  </div>
</div>
</body>
</html>


