<p id="notice"><%= notice %></p>

<p>
  <strong>Rule Number:</strong>
  <%= @rule.rulenumber %>
</p>

<p>
  <strong>Rule:</strong>
  <%= @rule.rule %>
</p>

<%= link_to 'Edit', edit_rule_path(@rule) %> |
<%= link_to 'Back', rules_path %>
