<html lang="en">
<head>
<%= render 'layouts/accordion' %>


 <div class="container" style="padding-top: 20px; padding-bottom: 25px; align=center">
  <%= form_for :regtenant, url: regtenants_path, :class=>"form-horizontal", :role=>"form" ,html: {multipart:true} do |f| %>

  <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="text-center" style="padding-left:87px" >
        <img src="http://lorempixel.com/200/200/people/9/" class="avatar img-circle img-thumbnail" alt="avatar">
        <h6>Upload a different photo...</h6>
     <%= f.file_field :image, autofocus: true, :class => "form-control" %>
      </div>
    </div>

  <h1 class="col-md-8 col-sm-6 col-xs-8">Tenant Registration</h1>
  <div class="row">
    <!-- left column -->
  
    <!-- edit form column -->
    <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
      
        <div class="form-group">
          <label class="col-lg-3 control-label"></label>
          <div class="col-lg-8">
           <h3>Personal Information</h3>
          </div>
        </div>
  
      <div class="form-group">
          <label class="col-lg-3 control-label"  style="text-align:left">Owner Id</label>
          <div class="col-lg-8" style=" padding-bottom: 18px">
             <%= f.number_field :ownerid, autofocus: true, :class => "form-control" , :placeholder=>"Enter Owner Id"%>
          </div>
        </div>


        <div class="form-group">
          <label class="col-lg-3 control-label" style="text-align:left">First name:</label>
          <div class="col-lg-8" style=" padding-bottom: 18px">
          <%= f.text_field :firstname, autofocus: true, :class => "form-control" , :placeholder=>"Enter firstname"%>
          </div>
        </div>
        
        <div class="form-group">
          <label class="col-lg-3 control-label" style="text-align:left">Last name:</label>
          <div class="col-lg-8"  style=" padding-bottom: 18px">
              <%= f.text_field :lastname, autofocus: true, :class => "form-control" , :placeholder=>"Enter lastname"%>
          </div>
        </div>
        
         <div class="form-group">
          <label class="col-lg-3 control-label" style="text-align:left">Email Id:</label>
          <div class="col-lg-8" style=" padding-bottom: 18px">
              <%= f.email_field :email, autofocus: true, :class => "form-control" , :placeholder=>"Enter email"%>
          </div>
        </div>


        <div class="form-group">
          <label class="col-lg-3 control-label" style="text-align:left">Landline Number:</label>
          <div class="col-lg-8" style=" padding-bottom: 18px">
           <%= f.text_field :landlineno, autofocus: true, :class => "form-control" , :placeholder=>"Enter landline Number"%>
          </div>
        </div>

         <div class="form-group">
          <label class="col-lg-3 control-label" style="text-align:left">Mobile Number:</label>
          <div class="col-lg-8" style=" padding-bottom: 18px">
           <%= f.text_field :mobileno, autofocus: true, :class => "form-control" , :placeholder=>"Enter Mobile Number"%>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 control-label" style="text-align:left">Date of birth:</label>
          <div class="col-lg-8" style="text-align:left; padding-bottom: 18px">
           <%= f.date_select :dob ,:class => "form-control"  %>
          </div>
        </div>
        
        <div class="form-group">
          <label class="col-lg-3 control-label" style="text-align:left">Age:</label>
          <div class="col-lg-8" style=" padding-bottom: 18px">
            <%= f.number_field :age, autofocus: true, :class => "form-control" , :placeholder=>"Enter age"%>
          </div>
        </div>
        
         <div class="form-group">
          <label class="col-lg-3 control-label" style="text-align:left">Number of family members:</label>
          <div class="col-lg-8" style=" padding-bottom: 18px">
            <%= f.number_field :nooffamily, autofocus: true, :class => "form-control" , :placeholder=>"Enter number of members"%>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 control-label" style="text-align:left">Profession:</label>
          <div class="col-lg-8" style=" padding-bottom: 18px">
            <%= f.text_field :profession, autofocus: true, :class => "form-control" , :placeholder=>"Enter profession"%>
          </div>
        </div>


        <div class="form-group">
          <label class="col-lg-3 control-label" style="text-align:left">Pancard Number:</label>
          <div class="col-lg-8" style=" padding-bottom: 18px">
            <%= f.text_field :pancardno, autofocus: true, :class => "form-control" , :placeholder=>"Enter pancard Number"%>
          </div>
        </div>

        <div class="form-group">
          <label class="col-lg-3 control-label" style="text-align:left">Permament Address:</label>
          <div class="col-lg-8" style=" padding-bottom: 18px">
            <%= f.text_area :address, :class=>"form-control" %>
          </div>
        </div>
        
       <div class="form-group" >
          <label class="col-lg-3 control-label" style="text-align:left">Gender:</label>
          <div class="col-lg-3" style="text-align:left; padding-bottom: 18px">
            <%= radio_button :regtenant, :gender, :Male%>Male
            <%= radio_button :regtenant, :gender, :Female%>Female
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-8">
             <%= f.submit 'Register', :class=>"btn btn-primary"%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>