
<html>
  <body>
  <br><br><br><br>
   <div class="container">
    <div class="jumbotron">


        <table class="table">
            <p><tr>
                  <td><strong>Image:</strong></td>
                  <td><%= image_tag  @regtenant.image.url(:medium) %></td>
                </tr></p>
            <p>
            <p>
            <tr>
              <td><strong>Firstname:</strong></td>
              <td><%= @regtenant.firstname %></td>
            </tr>
            </p>

            <p><tr>
              <td><strong>Lastname:</strong></td>
              <td><%= @regtenant.lastname %></td>
            </tr></p>


            <p><tr>
              <td><strong>Email:</strong></td>
              <td><%= @regtenant.email %></td>
            </tr></p>

            <p><tr>
              <td><strong>Landlineno:</strong></td>
              <td><%= @regtenant.landlineno %></td>
           </tr> </p>

            <p><tr>
             <td><strong>Mobileno:</strong></td>
             <td> <%= @regtenant.mobileno %></td>
           </tr> </p>

            <p><tr>
              <td><strong>Dob:</strong></td>
             <td> <%= @regtenant.dob %></td>
           </tr> </p>

            <p><tr>
              <td><strong>Gender:</strong></td>
              <td><%= @regtenant.gender %></td>
            </tr></p>

            <p><tr>
              <td><strong>Age:</strong></td>
              <td><%= @regtenant.age %></td>
           </tr> </p>

            <p><tr>
              <td><strong>Nooffamily:</strong></td>
              <td><%= @regtenant.nooffamily %></td>
            </tr></p>

            <p><tr>
              <td><strong>Profession:</strong></td>
              <td><%= @regtenant.profession %></td>
           </tr> </p>

            <p><tr>
              <td><strong>Pancardno:</strong></td>
              <td><%= @regtenant.pancardno %></td>
            </tr></p>

            <p><tr>
              <td><strong>Address:</strong></td>
              <td><%= @regtenant.address %></td>
           </tr></p>

          
        
      </table>
<%= link_to 'Edit', edit_regtenant_path(@regtenant) %> |
<%= link_to 'Back', regtenants_path %>

</div>
</div>
</body>
</html>