<html>
  <body>
  <br><br><br><br>
   <div class="container">
    <div class="jumbotron">

        <table class="table">

            <p>
            <tr>
              <td><strong>Firstname Name:</strong></td>
              <td><%= @attenvendor.firstname %></td>
            </tr>
            </p>

             <p>
            <tr>
              <td><strong>Lastname Name:</strong></td>
              <td><%= @attenvendor.lastname %></td>
            </tr>
            </p>

            <p><tr>
              <td><strong>Date:</strong></td>
             <td> <%= @attenvendor.date %></td>
           </tr> </p>


            <p><tr>
              <td><strong>Time IN:</strong></td>
              <td><%= @attenvendor.timein %></td>
           </tr></p>

           <p><tr>
              <td><strong>Time Out:</strong></td>
              <td><%= @attenvendor.timeout %></td>
           </tr></p>

             <p><tr>
              <td><strong>Phase Name:</strong></td>
              <td><%= @attenvendor.phasename %></td>
           </tr></p>

             

        </table>
<%= link_to 'Edit', edit_attenvendor_path(@attenvendor) %> |
<%= link_to 'Back', attenvendors_path %>

</div>
</div>
</body>
</html>