
<div class="container">
    <div class="row">
        
        
        <div class="col-sm-3 col-md-3">
           
            <div class="panel-group" id="accordion">
                
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-folder-close">
                            </span>Society Share</a>
                        </h4>
                    </div>
                    
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a href="#">My flat/My inbox</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="">Notice Board</a>

                                        <a href="../noticeboards">Notice Board</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">Event Calander</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">Photo Gallery</a>
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">Instant poll</a>
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">Forum</a>
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="../memachivements">Member Achievement</a>
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="../vendors">Vendor List</a>
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">Classified</a>
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">Instant Member Search</a>
                               
                                    </td>
                                </tr>
                                 <tr>
                                    <td>
                                        <a href="../rules">Rule</a>
                                        
                                    </td>
                                </tr>
                            </table>
                        </div>
                    
                    </div>
                </div>
                <div class="panel panel-default">
                    
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-th">
                            </span>Data Management</a>
                        </h4>
                    </div>
                    
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">

                            <div class="panel-body">
                                <div class="panel-group" id="accordian23">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordian23" href="#collapseTwoOne">Owner</a>
                                            </h4>
                                        </div>
                                        <div id="collapseTwoOne" class="panel-collapse collapse">
                                            <div class="panel-body"><table class="table">
                                                    <tr>
                                                        <td>
                                                             <a href="../regowners/new">Owner Registration</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                             <a href="../parkowners/new">Parking Registration</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                             <a href="../flatowners/new">Flat Registration</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                             <a href="../documents/new">Document Repository</a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordian23" href="#collapseTwoTwo">Tenant</a>
                                            </h4>
                                        </div>
                                         <div id="collapseTwoTwo" class="panel-collapse collapse">
                                            <div class="panel-body"><table class="table">
                                                    <tr>
                                                        <td>
                                                             <a href="../regtenants/new">Tenant Registration</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                             <a href="../parktenants/new">Parking Registration</a>
                                                        </td>
                                                    </tr>
                                                    
                                                   
                                                </table></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <table class="table">
                                
                                <tr>
                                    <td>
                                        <a href="../complaints/new">Complain Box</a> 
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="../meetings">Meetings</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="../comitteemembers">Committee Member list</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="../regowners">Member Contact list</a>
                                    </td>
                                </tr>
                                
                            </table>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseEight"><span class="glyphicon glyphicon-user">Staff</a>
                        </h4>
                    </div>

                     <div id="collapseEight" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a href="../comitteemembers/new">Commitee Member Registraion</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="../vendors/new">Vendor Registration</a> 
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="../meetings/new">Meeting Tracking</a>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <a href="../attenvisitors/new">Attendance Visitors</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="../attenvendors/new">Attendance Vendors</a>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <a href="../noticeboards/new">Notice Add</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="../meetings/new">Meetting Add</a>
                                    </td>
                                </tr>
                           </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">User Account</a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a href="#">Change Password</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">Notifications</a> <span class="label label-info">5</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">Import/Export</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-trash text-danger"></span><a href="#" class="text-danger">
                                            Delete Account</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Reports</a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a href="#">Sales</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">Customers</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">Products</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">Shopping Cart</a>
                                    </td>
                                </tr>
</table>
</div>
</div>
</div>
             <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" span class="glyphicon glyphicon-euro">Accounts</a>
                        </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a href="../acc_payments/new">Expense Bill</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="../bankaccounts/new">Bank Accounts</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="../discountdetails/new">Discount Details</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="../maintainnance_invoices/new">Maintainance Invoices</a>
                                    </td>
                                </tr>
                   
                                <tr>
                                    <td>
                                        <a href="../maintenance_charges/new">Maintainance Charges</a>
                                    </td>
                                </tr>


                                <tr>
                                    <td>
                                        <a href="../nr_incomes/new">Non-Regular Income</a>
                                    </td>
                                </tr>



                                <tr>
                                    <td>
                                        <a href="../penalty_charges/new">Penalty Charges</a>
                                    </td>
                                </tr>


                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
