<div class="wrapper">
    <nav class="navbar navbar-inverse navbar-fixed-top">
    
<a class="navbar-brand text-uppercase" href="#">Society Walk <span class="label label-success text-capitalize"></span></a>


<div class="pull-right">

                <%if signed_in?%>
                    <li><%=link_to current_user.email, edit_user_registration_path%></li>
                    <li><%=link_to "Logout", destroy_user_session_path, method: :delete%></li>
                <%else%>
                    <li><%=link_to "Register", new_user_registration_path%></li>
                    <li><%=link_to "Login", new_user_session_path,:class=>"btn-btn"%></li>
                <%end%>
           </div>
      </nav>
      </div>