
<!DOCTYPE html>
<html lang="en">
<head>
<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-folder-close">
                            </span>Content</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-pencil text-primary"></span><a href="http://www.jquery2dotnet.com">Articles</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-flash text-success"></span><a href="http://www.jquery2dotnet.com">News</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-file text-info"></span><a href="http://www.jquery2dotnet.com">Newsletters</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-comment text-success"></span><a href="http://www.jquery2dotnet.com">Comments</a>
                                        <span class="badge">42</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-th">
                            </span>Modules</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Orders</a> <span class="label label-success">$ 320</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Invoices</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Shipments</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Tex</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-user">
                            </span>Account</a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Change Password</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Notifications</a> <span class="label label-info">5</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="http://www.jquery2dotnet.com">Import/Export</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-trash text-danger"></span><a href="http://www.jquery2dotnet.com" class="text-danger">
                                            Delete Account</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-file">
                            </span>Reports</a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-usd"></span><a href="http://www.jquery2dotnet.com">Sales</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-user"></span><a href="http://www.jquery2dotnet.com">Customers</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-tasks"></span><a href="http://www.jquery2dotnet.com">Products</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-shopping-cart"></span><a href="http://www.jquery2dotnet.com">Shopping Cart</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      <!-- Tuser list div starts here -->
                    <div class="container" style="padding-top: 60px;">
  <h1>Add Maintenance Bill</h1>
  <div class="row">
    <!-- left column -->
   
    <!-- edit form column -->
    <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
      
            

      <%= form_for @comman_bill, html: { multipart: true } do |f| %>

      <form class="form-horizontal" role="form">
          

        <div class="form-group">
          <label class="col-lg-3 control-label">Bill Type:</label>
          <div class="col-lg-8">
            <!-- <input class="form-control" value="Jane" type="text"> -->
            <%= f.text_field :bill_type, autofocus: true, :class => "form-control" , :placeholder=>"Enter Bill Type"%>
          </div>
        </div><br><br><br>


         <div class="form-group">
              <label class="col-lg-3 control-label">Date:</label>
              <div class="col-md-5">
                <%= f.date_select :date %>
              </div>
            </div><br><br>
      
         <div class="form-group">
              <label class="col-lg-3 control-label">Last Date:</label>
              <div class="col-md-5">
                <%= f.date_select :due_date %>
              </div>
            </div> <br><br>

            <div class="form-group">
          <label class="col-lg-3 control-label">Bill Ammount</label>
          <div class="col-lg-8">
			<%= f.text_field :bill_ammount, autofocus: true, :class => "form-control" , :placeholder=>"Enter Bill Ammount "%>
          </div>
        </div><br><br>


  		<div class="form-group">
          <label class="col-lg-3 control-label">Bill Due Ammount</label>
          <div class="col-lg-8">
			<%= f.text_field :due_ammount, autofocus: true, :class => "form-control" , :placeholder=>"Enter Bill Due Ammount "%> 

          </div>
        </div><br><br>

        	<div class="form-group">
          <label class="col-md-3 control-label" style="text-align:left">Attach Bill:</label>
          <div class="col-md-8" style="padding-bottom:18px;text-align:left">
                  <%= f.file_field :view %>
          </div>
        </div><br><br>



         <div class="actions">
           <%= f.submit 'create bill', class: 'btn' %>
           <%= link_to 'Back', comman_bills_path, class: 'btn' %>

        </div>



      </form>
      <% end %>
    </div>
  </div>
</div>

 <!-- userlist div ends here -->
    </div>
</div>



      
<script type="text/javascript">

</script>
</body>
</html>

