<p id="notice"><%= notice %></p>

<p>
  <strong>Bill type:</strong>
  <%= @comman_bill.bill_type %>
</p>

<p>
  <strong>Date:</strong>
  <%= @comman_bill.date %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @comman_bill.due_date %>
</p>

<p>
  <strong>Bill ammount:</strong>
  <%= @comman_bill.bill_ammount %>
</p>

<p>
  <strong>Due ammount:</strong>
  <%= @comman_bill.due_ammount %>
</p>

<p>
  <strong>View:</strong>
  <%= @comman_bill.view %>
</p>

<%= link_to 'Edit', edit_comman_bill_path(@comman_bill) %> |
<%= link_to 'Back', comman_bills_path %>
